#app_form{
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: white;
    width: 22%;
    top: 16%;
    /*margin-top: 270px;*/
}

#chart-sidebar{
    width: 100%;
}



.app-selector{
    padding-top: 10px;
}


.ui-dropdown{
    width: 100%;
}
#run-query-btn{
    padding: 10px;
}

.form-check-label{
    font-size: 14px;
    color: #000000;
}

.form-group{
    padding-bottom: 0px;
    margin: 0 0 0 0;
}

#lat{
    width: 62%;
}

#lon{
    width: 62%;
}

#oil_volume{
    width: 62%;
}
#oil_density{
    width: 62%;
}

#time_interval{
    width: 62%;
}
#simulation_length{
    width: 62%;
}
#vis_duration{
    width: 62%;
}