#app_form{
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: white;
    width: 362px;
    top: 10%;
}

#chart-sidebar{
    width: 100%;
}

.ui-dropdown{
    width: 100%;
}
#run-query-btn{
    padding: 10px;
}

.form-check-label{
    font-size: 14px;
    color: #000000;
}

.form-group{
    padding-bottom: 0px;
    margin: 0 0 0 0;
}

#lat{
    width: 62%;
}

#lon{
    width: 62%;
}

#lat2{
    width: 62%;
}

#lon2{
    width: 62%;
}

#lat3{
    width: 62%;
}

#lon3{
    width: 62%;
}

#oil_volume{
    width: 62%;
}
#oil_density{
    width: 62%;
}
#oil_volume2{
    width: 62%;
}

#oil_volume3{
    width: 62%;
}

#time_interval{
    width: 62%;
}
#simulation_length{
    width: 62%;
}
#vis_duration{
    width: 62%;
}
#vis_duration2{
    width: 62%;
}

#vis_duration3{
    width: 62%;
}

.form-control{
    bottom: 11px;
}

#remove_point1{
    background-color: #8a1c1c;
    /*margin-right: 25px;*/
}

#remove_point2{
    background-color: #8a1c1c;
    /*margin-right: 25px;*/
    /*width:150px;*/
}

#remove_point3{
    background-color: #8a1c1c;
    /*margin-right: 25px;*/
    /*width:150px;*/
}
#remove_point4{
    background-color: #8a1c1c;
    /*margin-right: 25px;*/
    /*width:150px;*/
}

#remove_point5{
    background-color: #8a1c1c;
    /*margin-right: 25px;*/
    /*width:150px;*/
}

.checkbox label{
    color: #0b0b0b;
}

.form-control{
    width: 80%;
}

.form-group .form-control {
    margin-bottom: 1px;
}

.nav-pills > li > a {
    min-width: 65px;
    text-transform: none;
    padding: 10px 5px;
}

.nav-pills > li.active > a[href="#point2_form"] {
    background-color: #710000;
}

.nav-pills > li.active > a[href="#point3_form"] {
    background-color: #0d6321;
}

.nav-pills > li.active > a[href="#point4_form"] {
    background-color: #ee8331;;
}

.nav-pills > li.active > a[href="#point5_form"] {
    background-color: #181313;
}

.points-control{
    height: 0.3vh;
}

