{% extends 'base.html' %}

{% load static %}
{% load leaflet_tags %}

{% block css %}
    {% leaflet_css %}
    <link href="{% static 'css/vis-network.min.css' %}" rel="stylesheet" />
    <link href="{% static 'service_builder/css/basic.css' %}" rel="stylesheet" />
    <link href="{% static "css/leaflet-areaselect.css" %}" rel="stylesheet">

{% endblock %}

{% block content %}
    <div id="hiddenelement">
        <div id="mapframe">
            <div class="coverage-map-filters" id = "hiddenmap">
                <div style="text-align: left;"><h4 style="margin: 0;">Filter by spatial coverage</h4></div>
                <div id="mapselection" class="selection" style="position:relative; ">
                    <div class="" style="padding-left: 0; padding-right: 0;">
                        <div id="mappreview" style="position:relative; z-index: 0;cursor: pointer; height: 150px; margin-top: 15px; margin-bottom: 10px; border: solid 2px grey; border-radius: 1em;">
                        </div>
                    </div>
                    <div>
                        <p id="mapbounds"></p>
                    </div>
                </div>
            </div>
            <div class="">
                <div id="choices">
                    <select style="border: 2px solid grey; border-radius: 1em;" id="mapchoices">
                        <option value="-1">Choose Predefined</option>
                        <option value="0">Baltic Sea</option>
                        <option value="1">Sea Of Japan</option>
                        <option value="2">Red Sea</option>
                        <option value="3">Mediterranean</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="text-center">
            <h1 class="o-blue">Service Builder</h1>
            <h5>Create a new service by using the provided analytical components.</h5>
        </div>
    </div>


    <div class="col-sm-6">
        <div id="query-container">
            <label for="query">Select the analysis data</label>
            <select id="query-select" class="form-control" name="query">
                <option disabled selected>-- select one of the saved queries --</option>
                {% for query in saved_queries %}
                    <option id="{{ query.id }}" value="{{ query.raw_query }}">{{ query.title }}</option>
                {% endfor %}
            </select>
            <div><a href="#" id="new_query_link"> + or create a new query </a></div>
            <input id="new_query_doc" type="hidden" value=""/>
        </div>

        <div id="components-container">
            <label for="components-list-group">Select the analytical components</label>
            <ul class="list-group" id="components-list-group">
                {% for component in components %}
                    <li class="list-group-item">
                        <div><strong>{{ component.title }}</strong> - {{ component.moto }}</div>
                        <btn class="btn btn-default btn-sm addNodeBtn"
                             data-component-id="{{ component.id }}"
                             data-component-title="{{ component.title }}">
                            Add
                        </btn>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <btn class="btn btn-primary btn-sm" id="removeLastBtn">Remove Last</btn>
    </div>

    <div class="col-sm-6"><h4>Created Service:</h4></div>
    <div class="col-sm-6" id="dynamic_service"></div>


    <button style="display: none;" id="modalbtn" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
    <div class="row">
        <form class="form" id="config-service-form" method="POST">
            {% csrf_token %}
            <input id="analysis_flow" value="{}" name="analysis_flow" type="hidden"/>
            <input id="query" value="" name="query" type="hidden"/>
            <input type="submit" class="btn btn-success" value="Run Service"/>
        </form>
    </div>

{% endblock %}


{% block modal %}
    <div id="myModal" class="modal fade row" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Configure Analysis</h4>
                    <h5></h5>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="submit-args-btn">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="dismiss-args-btn">Cancel</button>
                </div>


            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% leaflet_js %}
    <script src="{% static "js/leaflet-areaselect.js" %}"></script>
    <script src="{% static "js/map_functions.js" %}"></script>
    <!-- viz.js Network methods -->
	<script src="{% static 'js/vis-network.min.js' %}"></script>
{#    Document-Modal Interaction   #}
    <script src="{% static "js/doc_modal_interaction.js" %}"></script>

{% endblock %}
