{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}
{% block css %}
    <link href="{% static "css/leaflet-areaselect.css" %}" rel="stylesheet">
    <link href="{% static "vendor/Semantic-UI-CSS-master/semantic.css" %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
    <link href="{% static "wave_energy_pilot/css/app_form.css" %}" rel="stylesheet">

{% endblock %}

{% block content %}
    <div class="app-container">


        <div id="map" style="min-height: 800px; width: 100%; margin-top: 10px; z-index: 1; ">

        </div>

        <div id="buoys">

                {% for buoy in buoys_list %}
                    <div class="buoy" data-id="{{ buoy.id }}" data-lat="{{ buoy.lat }}" data-lon="{{ buoy.lon }}" data-dataset_id="{{ buoy.dataset_id }}">
                    </div>
                {% endfor %}


        </div>

        <div id="app_form" class="form container " >
            {% include "wave_energy_pilot/utils/basic_form_tab.html" %}
        </div>
        
        <btn id="execution_btn" class="btn btn-success">Execute!</btn>
        <span id="execution_status"></span>
    </div>

{% endblock %}

{% block  js %}
    {% leaflet_js %}
    <script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
    <script src="{% static "wave_energy_pilot/js/area-select/simple-shape.js" %}"></script>
    <script src="{% static "wave_energy_pilot/js/area-select/rectangle.js" %}"></script>
    <script src="{% static 'wave_energy_pilot/js/spatio_temporal_filter.js'%}" ></script>
    <script src="{% static "vendor/Semantic-UI-CSS-master/semantic.js" %}"></script>
    <script src="{% static 'wave_energy_pilot/js/app_form.js' %}"></script>
    <script src="{% static 'wave_energy_pilot/js/location_markers.js' %}"></script>
    
    <script type="text/javascript">
        var exec_instance = '';
        $("#execution_btn").click(function () {
            $.ajax({
                "type": "GET",
                "url": "/wave-energy/evaluate_location/execute/?dataset_id=111&start_date=2019-01-05&end_date=2019-01-15&latitude_from=35.1&latitude_to=40.2&longitude_from=-11.3&longitude_to=-6.4",
                "data": {},
                "success": function(result) {
                    console.log(result);
                    exec_instance = result['exec_instance'];
                },
                error: function () {
                    alert('error');
                }
            });

            window.setInterval(function(){

            }, 1000);

            var execution_status_interval = setInterval(check_execution_status, 5000);

            function check_execution_status() {
                $.ajax({
                    "type": "GET",
                    "url": "/wave-energy/evaluate_location/status/"+exec_instance+"/",
                    "data": {},
                    "success": function(result) {
                        console.log(result["status"]);
                        $("#execution_status").html(result["status"]);
                        if(result["status"] === "done"){
                            execution_status_stop();
                            // similar behavior as clicking on a link
                            window.location.href = "/wave-energy/evaluate_location/results/"+exec_instance+"/";
                        }
                        else if (result["status"] === "failed") {
                            execution_status_stop();
                            alert("execution failed");
                        }
                    },
                    error: function () {
                        execution_status_stop();
                        alert('error');
                    }
                });
            }

            function execution_status_stop() {
              clearInterval(execution_status_interval);
            }
        })
    </script>
{% endblock %}