{% extends "wave_energy_pilot/service_output.html" %}
{% load static %}
{% block css %}
    <style>
        #location_assessment_statistics{ text-align: center;}
        #location_assessment_statistics th{text-align: center; font-weight: 600 !important;}
        #location_assessment_statistics td{text-align: center; }
        #location_assessment_statistics .panel-primary .panel-heading{background-color: #1d567e; color: white;}
        #location_assessment_statistics .panel-warning .panel-heading{background-color: #8a6d3b; color: white;}
        #location_assessment_statistics .panel-success .panel-heading{background-color: #3c763d; color: white;}
        #location_assessment_statistics .panel-default .panel-heading{background-color: #707070; color: white;}
    </style>

    <link rel="stylesheet" href="{% static 'wave_energy_pilot/css/service_output.css' %}">
{% endblock %}

{% block service_output_results %}
    <div id="location_assessment_statistics" class="text-center">
        <div class="col-sm-12" style="text-align: center;">
            <h3> Location Assessment Statistics </h3>
        </div>
        <div class="col-sm-9">
            <div class="col-sm-12">
                <table class="table" style="margin-bottom: 0;">
                    <thead>
                        <tr>
                            <th class="col-sm-5"></th><th class="col-sm-2">Maximum</th><th class="col-sm-2">Average</th><th class="col-sm-2">Minimum</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Wave Significant Height</td><td>{{ result.max_height }}</td><td>{{ result.av_height }}</td><td>{{ result.stand_dev_height }}</td>
                        </tr>
                        <tr>
                            <td>Wave Mean Period</td><td>{{ result.max_height }}</td><td>{{ result.av_height }}</td><td>{{ result.stand_dev_height }}</td>
                        </tr>
                        <tr>
                            <td>Wave Power</td><td>{{ result.max_height }}</td><td>{{ result.av_height }}</td><td>{{ result.stand_dev_height }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-primary col-sm-3" style="border: none; ">
            <div class="panel-heading">Total Wave Energy</div>
            <div class="panel-body" style="border: none; padding: 0; text-align: center; height: 20vh;">
                <div style="    height: 10vh; line-height: 10vh; font-size: 220%;">{{ result.max_height }}</div>
                <div style="    height: 6vh; line-height: 6vh; font-size: 170%;"> kWh </div>
            </div>
        </div>
    </div>

    <div id="service_visualisations_container" class="text-center">
        <ul class="nav nav-pills">
            {% for key, viz in visualisations.items %}
                <li {% if forloop.counter == 1 %}class="active"{% endif %}><a data-toggle="pill" href="#{{ key }}">{{ viz.title }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for key, viz in visualisations.items %}
                <div class="viz_container row tab-pane fade {% if forloop.counter == 1 %} in active {% endif %}"  id="{{ key }}">
{#                    <div class="loadingFrame">#}
{#                        <img src="{% static 'img/loading_gif.gif' %}"/>#}
{#                    </div>#}
                    {% if no_viz %}
                        <iframe src=""
                                style="width: 100%; height: 100%; background-color: white;">
                        </iframe>
                    {% else %}
                        <iframe src="{{ viz.url }}" class="col-sm-6"
                                style="width: 100%; height: 100%; background-color: white;">
                        </iframe>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block  js %}

{% endblock %}