{% extends "wave_energy_pilot/service_output.html" %}
{% load static %}
{% block css %}
    <style>
        #forecasted_wave_statistics{ text-align: center;}
        #forecasted_wave_statistics th{text-align: center; font-weight: 600 !important;}
        #forecasted_wave_statistics td{text-align: center; }
        #forecasted_wave_statistics .panel-primary .panel-heading{background-color: #30526a; color: white;}
        #forecasted_wave_statistics .panel-warning .panel-heading{background-color: #8a6d3b; color: white;}
        #forecasted_wave_statistics .panel-success .panel-heading{background-color: #3c763d; color: white;}
        #forecasted_wave_statistics .panel-default .panel-heading{background-color: #707070; color: white;}
        #service_visualisations_container .viz_container{width: 49%; display: inline-block;}
    </style>

    <link rel="stylesheet" href="{% static 'wave_energy_pilot/css/service_output.css' %}">
{% endblock %}

{% block service_output_results %}
    {# Forecasted Wave Statistics #}
    <div id="forecasted_wave_statistics" class="" style="">
        <div class="col-sm-12" style="text-align: center;">
            <h3> Forecasted Wave Statistics </h3>
        </div>
        <div class="col-sm-9">
            <div class="col-sm-12">
                <table class="table" style="margin-bottom: 0;">
                    <thead style="background-color: #30526a; color: white;">
                        <tr>
                            <th class="col-sm-5"></th><th class="col-sm-2">Maximum</th><th class="col-sm-2">Average</th><th class="col-sm-2">Minimum</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Wave Significant Height</td><td>{{ result.max_height }}</td><td>{{ result.av_height }}</td><td>{{ result.min_height }}</td>
                        </tr>
                        <tr>
                            <td>Wave Mean Period</td><td>{{ result.max_period }}</td><td>{{ result.av_period }}</td><td>{{ result.min_period }}</td>
                        </tr>
                        <tr>
                            <td>Wave Power</td><td>{{ result.max_power }}</td><td>{{ result.av_power }}</td><td>{{ result.min_power }}</td>
                        </tr>
                    </tbody>
                </table>
{#                <table class="table">#}
{#                    <thead>#}
{#                        <tr>#}
{#                            <th class="col-sm-5"></th><th class="col-sm-2">Total</th><th class="col-sm-2"></th><th class="col-sm-2"></th>#}
{#                        </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                        <tr>#}
{#                            <td>Wave Energy</td><td>{{ result.max_height }}</td><td></td><td></td>#}
{#                        </tr>#}
{#                    </tbody>#}
{#                </table>#}
            </div>
        </div>
        <div class="panel panel-primary col-sm-3" style="border: none; ">
            <div class="panel-heading">Total Wave Energy</div>
            <div class="panel-body" style="border: none; padding: 0; text-align: center; height: 20vh;">
                <div style="    height: 10vh; line-height: 10vh; font-size: 220%;">{{ result.energy }}</div>
                <div style="    height: 6vh; line-height: 6vh; font-size: 170%;"> kWh </div>
            </div>
        </div>

    </div>

    <div id="service_visualisations_container" class="text-center">
{#        <ul class="nav nav-pills">#}
{#            {% for key, viz in visualisations.items %}#}
{#                <li {% if forloop.counter == 1 %}class="active"{% endif %}><a data-toggle="pill" href="#{{ key }}">{{ viz.title }}</a></li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#        <div class="tab-content">#}
{#            {% for key, viz in visualisations.items %}#}
{#                <div class="viz_container row tab-pane fade {% if forloop.counter == 1 %} in active {% endif %}"  id="{{ key }}">#}
{#                    <div class="loadingFrame">#}
{#                        <img src="{% static 'img/loading_gif.gif' %}"/>#}
{#                    </div>#}
{#                    {% if no_viz %}#}
{#                        <iframe src=""#}
{#                                style="width: 100%; height: 100%; background-color: white;">#}
{#                        </iframe>#}
{#                    {% else %}#}
{#                        <iframe src="{{ viz.url }}" class="col-sm-6"#}
{#                                style="width: 100%; height: 100%; background-color: white;">#}
{#                        </iframe>#}
{#                    {% endif %}#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}

        {% for key, viz in visualisations.items %}
            <div class="viz_container" id="{{ key }}">
                <h3>{{ viz.title }}</h3>
                {% if no_viz %}
                    <iframe src=""
                            style="width: 100%; height: 100%; background-color: white;">
                    </iframe>
                {% else %}
                    <iframe src="{{ viz.url }}"
                            style="width: 100%; height: 100%; background-color: white;">
                    </iframe>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block  js %}

{% endblock %}


{#        <div class="row col-sm-12">#}
{#            <div class="col-sm-12" style="text-align: center;">#}
{#                <h2 style="font-size: 3vh; margin: 0;"> Forecasted Wave Statistics </h2>#}
{#            </div>#}
{#            <h3 style="font-size: 2vh; margin: 0;"> Wave Significant Height </h3>#}
{#            <div class="panel-group col-sm-11">#}
{#                <div class="panel panel-primary col-sm-3 col-sm-offset-2">#}
{#                    <div class="panel-heading">Minimum</div>#}
{#                    <div class="panel-body">{{ result.min_power }}</div>#}
{#                </div>#}
{#                <div class="panel panel-primary col-sm-3">#}
{#                    <div class="panel-heading">Average</div>#}
{#                    <div class="panel-body">{{ result.av_power }}</div>#}
{#                </div>#}
{#                <div class="panel panel-primary col-sm-3">#}
{#                    <div class="panel-heading">Maximum</div>#}
{#                    <div class="panel-body">{{ result.max_power }}</div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="row col-sm-12">#}
{#            <h3 style="font-size: 2vh; margin: 0;"> Wave Mean Period </h3>#}
{#            <div class="panel-group col-sm-11">#}
{#                <div class="panel panel-warning  col-sm-3 col-sm-offset-2">#}
{#                    <div class="panel-heading">Minimum</div>#}
{#                    <div class="panel-body">{{ result.min_power }}</div>#}
{#                </div>#}
{#                <div class="panel panel-warning  col-sm-3">#}
{#                    <div class="panel-heading">Average</div>#}
{#                    <div class="panel-body">{{ result.av_power }}</div>#}
{#                </div>#}
{#                <div class="panel panel-warning  col-sm-3">#}
{#                    <div class="panel-heading">Maximum</div>#}
{#                    <div class="panel-body">{{ result.max_power }}</div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="row col-sm-12">#}
{#            <h3 style="font-size: 2vh; margin: 0;"> Wave Power </h3>#}
{#            <div class="panel-group col-sm-11">#}
{#                <div class="panel panel-success col-sm-3 col-sm-offset-2">#}
{#                    <div class="panel-heading">Minimum</div>#}
{#                    <div class="panel-body">{{ result.min_power }}</div>#}
{#                </div>#}
{#                <div class="panel panel-success col-sm-3">#}
{#                    <div class="panel-heading">Average</div>#}
{#                    <div class="panel-body">{{ result.av_power }}</div>#}
{#                </div>#}
{#                <div class="panel panel-success col-sm-3">#}
{#                    <div class="panel-heading">Maximum</div>#}
{#                    <div class="panel-body">{{ result.max_power }}</div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row col-sm-12">#}
{#            <h3 style="font-size: 2vh; margin: 0;"> Wave Energy </h3>#}
{#            <div class="panel-group col-sm-11">#}
{#                <div class="col-sm-3 col-sm-offset-2">#}
{#                </div>#}
{#                <div class="panel panel-default col-sm-3">#}
{#                    <div class="panel-heading">Total</div>#}
{#                    <div class="panel-body">{{ result.max_power }}</div>#}
{#                </div>#}
{#                <div class="col-sm-3">#}
{#                </div>#}
{#            </div>#}
{#        </div>#}