<div id="arguments_container" class="tab-pane fade">
    <h3>Arguments Exposed to the User</h3>
    <button type="button" id="add_argument_popbtn" class="btn btn-md btn-primary" data-toggle="popover" title="" data-placement="right">
        + Add Argument
    </button>

    <table id="selected-arguments-table" class="table table-full-width">
        <thead>
            <tr>
                <th>Query ID</th>
                <th>Query</th>
                <th>Filter</th>
                <th>Default value</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>

            </tr>
        </tbody>
    </table>

    <div  style="margin-top: 500px">
        <div id="argument-select-container">
            <div>
                <button type="button" id="" class="btn btn-sm btn-primary" data-toggle="popover">Add analysis argument</button>
                <button type="button" id="" class="btn btn-sm btn-primary" data-toggle="popover">Add argument from query filters</button>
            </div>
            <div>
                <select id="query-argument-select">

                </select>
            </div>
            <button type="button" id="add_new_argument_btn" class="btn btn-sm btn-success" data-toggle="popover">OK</button>
        </div>
    </div>

</div>

