{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'service_builder/css/create_service.css' %}?bdo_version={{ settings.BDO_VERSION }}" rel="stylesheet" />
    <link href="{% static 'service_builder/css/mycss.css' %}?bdo_version={{ settings.BDO_VERSION }}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://codemirror.net/lib/codemirror.css">
    <link href="{% static "vendor/Semantic-UI-CSS-master/semantic.css" %}?bdo_version={{ settings.BDO_VERSION }}" rel="stylesheet">
    <style>
        #loadImg{position:absolute;z-index:999;}
        #loadImg {display:table-cell;width:100%;height:300px;background:#fff;text-align:center;vertical-align:middle;}

        .viz_item, .df_viz_item {
            cursor: pointer;
        }

        .popover{
            width: 500px;
            max-width: 600px;
            min-height: 230px;
        }
        .popover-content{
            width: 100%;
        }
        .modal-header{
            padding-top: 0;
        }
        .modal .modal-content .modal-body{
            min-height: 500px;
            height: 590px;
            overflow-y: scroll;
            padding: 0 24px 0 24px;
        }
        .modal .modal-dialog{
            margin-top: 5px;
            padding-top: 0;
            padding-bottom: 5px;
            width: 90%;
        }
        #viz_container, #df_viz_container{
            background-color: #d8d8d8;
            height: 500px;
            width: 80%;
            padding: 0;
        }
        #viz_container iframe,#df_viz_container iframe, #dynamic_dashboard iframe{
            background-color: darkgrey;
            width: 100%;
            margin: 0;
            padding: 0;
            height: 100%;
        }
        .iframe-class{
            height: calc(100% - 37px);
            padding: 0px;
            margin: 0% 0% 0% 0% !important;
        }


        .conf-error-message{
            color: darkred;
            font-size: small;
        }

        .waiting-disable{
            pointer-events: none;
            cursor: default;
        }

        .loadingFrame{position:absolute;z-index:999;display:block;right:0;left:0;bottom:0;top:0;background:#fff;text-align:center;border:thin dashed;}

    </style>
    {% for viz in available_viz %}
            <style>
                #{{ viz.view_name}}_tip{
                    opacity: .3;
                    position: relative;
                    bottom:1px;
                }
                li[data-viz-id="{{ viz.id }}"]:hover  #{{ viz.view_name }}_tip{
                    opacity: inherit;
                    margin:auto;
                    cursor:help;
                }
            </style>
    {% endfor %}
    <style>
        .disabled {
        pointer-events:none;
        opacity:0.6;
    }

    .unclickable{
        text-decoration: none;
        pointer-events:none;
    }

    .unclickable:hover{
        cursor: not-allowed;
    }

    .viz_item:hover {
        background-color: #d4dbe9;
    }

    .form_field_info{
        pointer-events: auto!important;
    }
    .form_field_info:hover {
        cursor: help;
        color: rgb(45, 45, 45)!important;
    }

    .ng-wrapper{
                width: 100%;
                height: calc(100%);
                display: block;
            }
    </style>
{% endblock %}



{% block content %}
    {% csrf_token %}
    <div class="container" id ='service_container'>
        <input type="text" id="service_id" value="{{ service_id }}" style="display: none;">
        <input type="text" id="notebook_id" value="{{ notebook_id }}" style="display: none;">
        <ul class="nav nav-pills nav-justified">
            <li class="active"><a data-toggle="pill" href="#queries_container">Queries</a></li>
            <li><a data-toggle="pill" href="#arguments_container">Arguments</a></li>
            <li><a data-toggle="pill" href="#code_container">Code</a></li>
            <li><a data-toggle="pill" href="#output_container">Output</a></li>
        </ul>

        <div class="tab-content">
            {% include "service_builder/queries_tab.html" %}

            {% include "service_builder/arguments_tab.html" %}

            {% include "service_builder/code_tab.html" %}

            {% include "service_builder/output_tab.html" %}

        </div>
    </div>

    <div id="query-container" style="display: none;">
        <select id="query-select" class="ui search selection form-control " name="query" style="width: 300px !important;">
{#            {% for query in saved_queries %}#}
{#                <option value="{{ query.id }}">{{ query.title }}</option>#}
{#            {% endfor %}#}
        </select>
        <div><a href="/queries/" id="new_query_link" style="color: #3b5998"> + or create a new query </a></div>
        <input id="new_query_doc" type="hidden" value=""/>
        <button type="button" id="select_data_ok" class="btn btn-sm btn-success" data-toggle="popover">OK</button>
        <button type="button" id="select_data_cancel" class="btn btn-sm pull-right" data-toggle="popover">Cancel</button>
    </div>

    <div id="all_queries_container" style="display: none;">
        {% for query in saved_queries %}
                <option value="{{ query.id }}">{{ query.title }}</option>
        {% endfor %}
    </div>

    <div id="viz-container" style="height:630px; " hidden>

{#        <button type="button" id="select_viz_ok" class="btn btn-sm btn-success" data-toggle="popover">OK</button>#}
    </div>
{% endblock %}


{% block js %}

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    {# Code Mirror    #}
    <script src="http://codemirror.net/lib/codemirror.js"></script>
    <script src="http://codemirror.net/addon/search/search.js"></script>
    <script src="http://codemirror.net/addon/search/searchcursor.js"></script>
    <!-- For HTML/XML -->
    <script src="http://codemirror.net/mode/xml/xml.js"></script>
    <script src="http://codemirror.net/mode/htmlmixed/htmlmixed.js"></script>
    <!-- For CSS -->
    <script src="http://codemirror.net/mode/css/css.js"></script>
    <!-- For JS -->
    <script src="http://codemirror.net/mode/javascript/javascript.js"></script>

    <script src="http://codemirror.net/addon/display/autorefresh.js"></script>

    {# End Code Mirror    #}

    <script src="{% static "vendor/Semantic-UI-CSS-master/semantic.js" %}?bdo_version={{ settings.BDO_VERSION }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
    <script src="{% static 'service_builder/js/visualisations.js' %}?bdo_version={{ settings.BDO_VERSION }}"></script>
    <script src="{% static 'service_builder/js/dfvisualisations.js' %}?bdo_version={{ settings.BDO_VERSION }}"></script>

    <script src="{% static 'service_builder/js/queries_tab.js' %}?bdo_version={{ settings.BDO_VERSION }}"></script>
    <script src="{% static 'service_builder/js/arguments_tab.js' %}?bdo_version={{ settings.BDO_VERSION }}"></script>
    <script src="{% static 'service_builder/js/code_tab.js' %}?bdo_version={{ settings.BDO_VERSION }}"></script>
    <script src="{% static 'service_builder/js/output_tab.js' %}?bdo_version={{ settings.BDO_VERSION }}"></script>
    <script src="{% static 'service_builder/js/publish.js' %}?bdo_version={{ settings.BDO_VERSION }}"></script>
    <script src="{% static 'service_builder/js/templates.js' %}?bdo_version={{ settings.BDO_VERSION }}"></script>
    <script>
        var img_source_path =  "{% static "img/loading_gif.gif" %}";
        var viz_conf_json = JSON.parse('{{ visualisation_configuration|escapejs }}');
        var notebook_id_for_url = "{{ notebook_id }}";
    </script>

{% endblock %}


{% block modal %}

    <div id="addVizModal" class="modal fade row" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" >
            <!-- Modal content-->
            <div class="modal-content" style="height: 93vh">
                <div class="modal-header text-center">

                </div>
                <div class="modal-body" style="height: 80vh;">
                    <div class="tab-content">
                        <div class="text-center">
                            <h4 class="modal-title">Add a new visualisation to the service</h4>
                            <ul class="nav nav-pills">
                              <li class="active"><a id="modal-tab-data" data-toggle="pill" href="#viz_widget">Visualization</a></li>
                              <li><a id="modal-tab-dataframe" data-toggle="pill" href="#dataframe">Dataframe</a></li>
                            </ul>
                        </div>
                        <div class="tab-pane fade in active" id="viz_widget">
                            <div class="row">
                                <div id="tour_input_select_data" class="text-left" id="model-button-row" style="display: inline">
                                    <button type="button" id="select_data_popover" class="btn btn-lg btn-primary"
                                            data-toggle="popover" title="Select your data" data-placement="right"
                                    >Select data
                                    </button>
                                </div>

                                <div style="display: inline; margin-left: 80px;">
                                    <span><strong>Selected Query: </strong></span><span id="query_name_span" style="display: none;"></span>
                                </div>


                                <button type="button" id="select_viz_popover" class="btn btn-lg btn-primary"
                                        data-toggle="popover" title="Select visualization type" data-placement="bottom"
                                        data-container="body" disabled style="display: none">2. Select visualisation
                                </button>
                                <button type="button" id="select_conf_popover" class="btn btn-lg btn-primary"
                                        data-toggle="popover" title="Select your data" data-placement="bottom"
                                        data-container="body" disabled style="display: none">3. Configure
                                </button>
                            </div>

                            <div class="row" id="viz_config" >

                                <ul class="list-group collapse in col-sm-2" style="width: 15%; display: none">
                                    {% for viz in available_viz %}
                                        {% if viz.data_source == 'query' %}
                                            <li class="list-group-item viz_item" data-viz-type = "{{ viz.type }}" data-viz-id="{{ viz.id }}" data-viz-name="{{ viz.view_name}}" data-description="{{ viz.description }}" >
                                                <i class="{{ viz.icon }}" style="margin-right:0.3vw"></i>{{ viz.title }}
                                                <span  class="glyphicon glyphicon-triangle-left selected_viz_span" style="position: absolute;right: 5px;top:13.5px; display: none;"></span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                </ul>
                                <div id="visualisation_frame">
                                    <div style="right: 25px; top:80px; z-index: 2; position: absolute; display: none;">
                                        <button type="button" id="add_layer_btn" class="btn btn-primary btn-md" >SAVE LAYER  <i class="glyphicon glyphicon-plus "></i></button>
                                    </div>
                                    <div class="ui buttons" style="display: none; top:80px; position: absolute; z-index: 1; right: 190px; ">
                                        <div id='layers-list' class="ui floating dropdown btn btn-secondary btn-md " tabindex="0">LAYERS
                                          <i class="dropdown icon"></i>
                                          <ul class="menu transition hidden unclickable" tabindex="-1"></ul>
                                        </div>
                                    </div>

                                    <div hidden id="viz_container" class="col-sm-8" style="width: 85%; height: 690px">

{#                                        <div id="loading_prebuilt" class="loadingFrame">#}
{#                                            <img src="{% static 'img/loading_gif.gif' %}"/>#}
{#                                        </div>#}

                                    </div>
                                </div>

                            </div>

{#                        LOAD ALL THE FORMS FOR EVERY VISUALIZATION AND KEEP IT HIDDEN#}
                            {% include "dashboard_builder/config-visualization-form-fields-auto-load.html" %}

                            <div id="query-variables-select-container" hidden>
                                {% for query in saved_queries %}
                                    <div id={{ query.id }}>
                                        {% for el in query.document.from %}
                                            {% for var in el.select %}
                                                {% if var.exclude == False or var.exclude == ''%}
                                                     {% if var.type == 'VALUE' %}
                                                             <option value="{{ var.name }}" data-datatype="{{ var.datatype }}">{{ var.title }}</option>
                                                     {% endif %}

                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                            <div id="query-dimensions-select-container" hidden >
                                {% for query in saved_queries %}
                                    <div id={{ query.id }}>
                                        {% for el in query.document.from %}
                                            {% for var in el.select %}
                                                {% if var.exclude == False or var.exclude == ''%}
                                                    {% if var.type != 'VALUE' %}
                                                             <option value="{{ var.name }}" data-datatype="{{ var.datatype }}">{{ var.title }}</option>
                                                     {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div id="dataframe" class="tab-pane fade">
                            <div class="row text-left">
                                <label for="selected_dataframe">Dataframe name:</label>
                                <input id="selected_dataframe" class="form-control" name="selected_dataframe">
                                </input>
                            </div>

                            <div class="row" id="df_viz_config" style="position: relative; top: 30px;" >
                                <ul class="list-group collapse in col-sm-2" style="width: 15%;  display: none" >
                                {% for viz in available_viz %}
                                        {% if viz.data_source == 'dataframe' %}
                                            <li class="list-group-item df_viz_item" data-viz-type = "{{ viz.type }}" data-viz-id="{{ viz.id }}" data-viz-name="{{ viz.view_name}}" data-description="{{ viz.description }}" >
                                                <i class="{{ viz.icon }}" style="margin-right:0.3vw"></i>{{ viz.title }}
                                                <span  class="glyphicon glyphicon-triangle-left selected_viz_span" style="position: absolute;right: 5px;top:13.5px; display: none;"></span>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <div id="df_visualisation_frame">
                                    <div style="right: 55px; top:-60px; z-index: 2; position: absolute; display: none;">
                                        <button type="button" id="df_add_layer_btn" class="btn btn-primary btn-md" >SAVE LAYER  <i class="glyphicon glyphicon-plus "></i></button>
                                    </div>
                                    <div class="ui buttons" style="display: none; top:-60px; position: absolute; z-index: 1; right: 205px; ">
                                        <div id='df_layers-list' class="ui floating dropdown btn btn-secondary btn-md " tabindex="0">LAYERS
                                          <i class="dropdown icon"></i>
                                          <ul class="menu transition hidden unclickable" tabindex="-1"></ul>
                                        </div>
                                    </div>

                                    <div  hidden id="df_viz_container" class="col-sm-8" style="width: 85%; height: 690px">


                                    </div>
                                </div>
                            </div>

                        </div>
                    <div hidden id="dynamic_viz_addition"></div>
                        <input type="hidden" id="selected_query" value="">
                    </div>


                </div>
                <div class="modal-footer" >
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="submit-modal-btn" style="display: none;">Add
                    </button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="submit-df-btn" style="display: none">Add
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="dismiss-modal-btn">Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>



    <div id="publishModal" class="modal fade row" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header text-center">
{#                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>#}
                    <h4 class="modal-title">Publish your service</h4>
                </div>
                <div class="modal-body">
                    <form id="publishForm" style="text-align: center; padding-top: 50px;">
                        <label for="title">Title</label>
                        <input type="text" name="title" class="form-control" id="title">
                        <label for="private">Private</label>
                        <input type="checkbox" class="form-control" name="private" id="private" value="True">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" id="price" name="price" value="free">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"  data-dismiss="modal" id="publish_service_btn">Publish</button>
                    <button type="button" class="btn btn-default"  data-dismiss="modal" id="dismiss-service-btn">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


