{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <link href="{% static 'service_builder/css/create_service.css' %}" rel="stylesheet" />
    <style>

    </style>
{% endblock %}



{% block content %}
    <div class="container" id ='service_container'>
        <ul class="nav nav-pills nav-justified">
            <li class="active"><a data-toggle="pill" href="#queries_container">Queries</a></li>
            <li><a data-toggle="pill" href="#arguments_container">Arguments</a></li>
            <li><a data-toggle="pill" href="#code_container">Code</a></li>
            <li><a data-toggle="pill" href="#output_container">Output</a></li>
        </ul>

        <div class="tab-content">
            {% include "service_builder/queries_tab.html" %}

            {% include "service_builder/arguments_tab.html" %}

            {% include "service_builder/code_tab.html" %}


            <div id="output_container" class="tab-pane fade">
                <h3>Define Service Output</h3>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="{% static 'service_builder/js/queries_tab.js' %}"></script>
    <script src="{% static 'service_builder/js/arguments_tab.js' %}"></script>
    <script src="{% static 'service_builder/js/code_tab.js' %}"></script>

{% endblock %}
