{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>

    <style>
{#        {{ output_css }}#}
        .modal-header{padding-top: 0;}
        .modal .modal-content .modal-body{min-height: 400px;overflow-y: scroll;padding: 0 24px 0 24px;}
        .modal{text-align: center;}
        .modal .modal-dialog{
            margin-top: 5vh;
            max-height: 90vh;
            min-height: 50vh;
            height: 70vh;
            padding-top: 0;
            padding-bottom: 5px;
            width: 90%;
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }
        @media screen and (min-width: 768px){.modal:before {display: inline-block;vertical-align: middle;content: " ";height: 100%;}}
        .modal-backdrop {z-index:-1;}
        .viz_container{ position: relative; min-height: 500px; width: 100%; height: 80vh; background-color: #d5d5d5}
        .loadImg{position:absolute;z-index:999;display:table-cell;right:0;left:0;bottom:0;top:0;background:#fff;text-align:center;border:thin dashed;}
        .viz_container{position: relative;}
    </style>

{% endblock %}



{% block content %}
    {% csrf_token %}
    <div class="container" style="width: 100%; ">
        {% autoescape off %}
            {{ output_html }}
        {% endautoescape %}
{#        {% include 'service_builder/service_template_1.html' %}#}
    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript">
        var exposed_args = JSON.parse('{{ arguments|safe }}');
    </script>

    <script type="text/javascript">
        // Get form fields of all the service arguments
        $("#argsModalBtn").click(function (element) {
            alert(exposed_args);
              var service_id = 3;
          $.ajax({
                url: '/service_builder/load_service_args_form_fields/',
                data: {
                    service_id: parseInt(service_id)
                },
                type: 'GET',
                success: function(form_fields){
                    $("#service_args_container").html(form_fields);
                }
            });
        });

        $(".viz_container iframe").on( "load", function(){
            $(this).siblings(".loadImg").css( "display", "none" )
        });
    </script>



    <script type="text/javascript">
        // Submit the service arguments
        $("#submitServiceConfig").click(function (element) {
              var service_id = 3;
          $.ajax({
                url: '/service_builder/submit_service_args/',
                data: {
                    service_id: parseInt(service_id),
                    arguments: $('#service_args_container').serialize()
                },
                type: 'GET',
                success: function(result){
                    $("iframe").each(function () {
                        var src_a = $( this ).attr('src-a');
                        jQuery.each(result['query_mapping'], function(query, temp_query) {
                          src_a = src_a.replace("query="+query, "query="+temp_query);
                        });

                        $( this ).attr({'src': src_a});
                        $( this ).show();
                    });
                }
            });
        });
    </script>

{% endblock %}


