{% extends 'base.html'%}

{% block content %}


    <h2>Permission Denied!</h2>
    <h4>Service Builder is only accessible for "platinum" and "silver" users.</h4>
    <h5>For upgrading your current plan, please contact <a  style="font-weight: bold; color: darkred; font-size: 110%;" href="mailto:sales@bigdataocean.eu" target="_top"><strong style="text-decoration: underline;">sales@bigdataocean.eu</strong></a></h5>
    <h5>Find out more about our subscription plans <a href="/plans/">here!</a></h5>

{% endblock %}