{% load static %}
<div id="service_container" class="text-center">
    <h2>My Test Service</h2>
    <div id="service_config_container" class="text-center">
        <button type="button" id="argsCollapseBtn" class="btn btn-md btn-primary" data-toggle="collapse" data-target="#serviceConfigCollapse">
          Configure
        </button>
        <div id="serviceConfigCollapse" class="collapse in" >
            <div class="well">
                <h4 class="modal-title">Please give your input</h4>
                <form id="service_args_container" class="modal-body" style="padding: 0 25%">

                </form>
                <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#serviceConfigCollapse" id="submitServiceConfig">Submit</button>
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#serviceConfigCollapse">Cancel</button>
            </div>
        </div>
    </div>

    <div id="service_result_container" class="text-center">
        {% load static %}
        <div class="loadingDiv">
            <img src="{% static 'img/loading_gif.gif' %}"/>
        </div>


        <div class="viz_container row tab-pane fade in active"  id="viz1">
            <div class="loadingFrame">
                <img src="{% static 'img/loading_gif.gif' %}"/>
            </div>
            <iframe src="http://localhost:8000/visualizations/map_markers_in_time/?notebook_id=2DEN8KR1Q&df=parcel_data_df&markerType=circle&lat_col=Lat&lon_col=Lon"
                    style="width: 100%; height: 100%; background-color: white;">
            </iframe>
        </div>

        <div class="viz_container row tab-pane fade in active"  id="viz2">
            <div class="loadingFrame">
                <img src="{% static 'img/loading_gif.gif' %}"/>
            </div>
            <iframe src="http://localhost:8000/visualizations/get_data_table/?df=spill_data_df&notebook_id=2DEN8KR1Q"
                    style="width: 100%; height: 100%; background-color: white;">
            </iframe>
        </div>

        <div class="viz_container row tab-pane fade in active"  id="viz3">
            <div class="loadingFrame">
                <img src="{% static 'img/loading_gif.gif' %}"/>
            </div>
            <iframe src="http://localhost:8000/visualizations/get_data_table/?df=parcel_data_df&notebook_id=2DEN8KR1Q"
                    style="width: 100%; height: 100%; background-color: white;">
            </iframe>
        </div>

    </div>
</div>