pandas
shapely
pykml
beautifulsoup4
# django
Django==1.11
djangorestframework
beautifulsoup4
requests

# authentication
django-allauth

# database access
psycopg2==2.7.1
pymongo
presto-python-client

# s3
django-s3direct==1.0.4

# data aggregation
netCDF4==1.2.7
numpy==1.12.1
pytz==2017.2
python-dateutil
xlrd
sympy

#data visualization
Pillow==4.2.1
matplotlib
django-leaflet==0.22.0
folium==0.5.0
django-nvd3
python-nvd3
django-bower
django-ckeditor


# deployment
dj-config-url==0.1.1
newrelic
whitenoise
gunicorn

#cache
python-memcached

# misc
scipy
unidecode
django-background-tasks