beautifulsoup4
requests
# django
Django==1.11

# authentication
django-allauth

# database access
psycopg2==2.7.1
pymongo

# data aggregation
netCDF4==1.2.7
numpy==1.12.1
pytz==2017.2
python-dateutil
xlrd
sympy

#data visualization
django-leaflet
folium
django-nvd3
python-nvd3
django-bower

# deployment
dj-config-url==0.1.1
newrelic
whitenoise
gunicorn
