{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'css/services/on-demand.css' %}" rel="stylesheet" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

    <div class="row text-center">
        <div class="col-xs-12">
            <h1 class="o-blue" style="font-size: 2.5em;">On Demand Data and Services</h1>

            <div class="col-xs-12">
                <div class="form-group is-empty">
                    <input type="text" class="form-control" style="width: 50%" placeholder="Search for existing requests">
                    <span class="material-input"></span>
                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
								<i class="material-icons">search</i><div class="ripple-container"></div>
							</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row margin-top-5">
        {% include 'services/on_demand/step.html' with step=1 title="Explore" text="open or solved data &amp; service requests from other BigDataOcean users" class='col-xs-3' %}
        {% include 'services/on_demand/step.html' with step=2 title="Personalize" text="existing requests that are close to what you need" class='col-xs-3' %}
        {% include 'services/on_demand/step.html' with step=3 title="Contact" text="analysts who solved other similar requests and get an offer from them, or" class='col-xs-3' %}
        {% include 'services/on_demand/step.html' with step=4 title="Create" text="a new service request describing exactly from what you need" class='col-xs-3' link='/on-demand/create/' %}
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header" data-background-color="blue" style="font-size: 1.4em;">
                    <div class="margin-vertical-3">
                        Not finding what you need?
                        <a href="/on-demand/create/" style="text-decoration: underline;">Create a new request</a>
                    </div>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-xs-6">
                            <h3 class="o-blue">Open requests (32)</h3>

                            {% for req in open_requests %}
                                {% include 'services/on_demand/teaser.html' %}
                            {% endfor %}
                        </div>
                        <div class="col-xs-6">
                            <h3 class="o-blue">Solved requests (127)</h3>

                            {% for req in closed_requests %}
                                {% include 'services/on_demand/teaser.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
	<script src="{% static 'js/demo.js' %}"></script>

    <script type="text/javascript">
    	$(document).ready(function(){

			// Javascript method's body can be found in js/demos.js
        	demo.initDashboardPageCharts();

    	});
	</script>
{% endblock %}