{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}
{% block css %}
    {% leaflet_css %}
    {% for css in css_all %}
        {% autoescape off %}
            {{ css }}
        {% endautoescape %}
    {% endfor %}
    <link rel="stylesheet" type="text/css" href="{% static 'visualizer/css/map.css' %}?bdo_version={{ settings.BDO_VERSION }}" />
    <link href="{% static "css/leaflet-areaselect.css" %}?bdo_version={{ settings.BDO_VERSION }}" rel="stylesheet">
    <link href="{% static "vendor/Semantic-UI-CSS-master/semantic.css" %}" rel="stylesheet">
{#    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>#}
    <link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
    <link href="{% static "hcmr_pilot/css/app_form.css" %}?bdo_version={{ settings.BDO_VERSION }}" rel="stylesheet">
    <link href="{% static "vendor/bootstrap-tour/src/bootstrap-tour.min.css"%}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="app-container">
        <div id="map" style="min-height: 800px; width: 100%; margin-top: 75px; z-index: 1">
{#            <input id="map_id"value="{{ map_id|safe }}" hidden>#}
            {% leaflet_map map_id callback="window.map_init_basic"%}
        </div>

        <div id="app_form" class="form container " >
            {% include "hcmr_pilot/utils/basic_form_tab.html" %}
        </div>

        {% for app_name, data in execution_steps.items %}
            <btn id="execution_btn_{{ app_name }}" class="btn btn-success hidden" data-toggle="modal" data-target="#{{ app_name }}_modal">Execute_{{ forloop.counter }}</btn>
        {% endfor %}
        <input hidden id="execution_status" type="text" value=""/>
    </div>
{% endblock %}

{% block  js %}
    {% include 'hcmr_pilot/utils/status_modal.html' %}

    {% leaflet_js %}
    <script src="{% static "vendor/bootstrap-tour/src/bootstrap-tour.min.js" %}?bdo_version={{ settings.BDO_VERSION }}"></script>
    <script src="{% static "query_designer/js/simplified/area-select/simple-shape.js" %}?bdo_version={{ settings.BDO_VERSION }}"></script>
    <script src="{% static "query_designer/js/simplified/area-select/rectangle.js" %}?bdo_version={{ settings.BDO_VERSION }}"></script>
    <script src="{% static "js/bootstrap-datetimepicker.js" %}?bdo_version={{ settings.BDO_VERSION }}"></script>
    <script src="{% static "vendor/Semantic-UI-CSS-master/semantic.js" %}?bdo_version={{ settings.BDO_VERSION }}"></script>
{#    <script src="{% static 'hcmr_pilot/js/spatio_temporal_filter.js' %}?bdo_version={{ settings.BDO_VERSION }}" ></script>#}
    <script src="{% static 'hcmr_pilot/js/app_form.js' %}?bdo_version={{ settings.BDO_VERSION }}"></script>
    <script src="{% static 'js/leaflet-image.js' %}"></script>

    {% for js in js_all %}
        {% autoescape off %}
            {{ js }}
        {% endautoescape %}
    {% endfor %}
    <script>
        var map = {{ map_id|safe }};
    </script>

    <script>
        $('#map .leaflet-control-layers-base span').text('Mapbox')
    </script>
{% endblock %}