.o-blue {
    color: #00bcd4 !important;
}

.o-darkblue {
    color: #125688 !important;
}

.o-green {
    color: #4caf50 !important;
}

.o-red {
    color: #f44336 !important;
}

.o-orange {
    color: #ff9800 !important;
}

.o-purple {
    color: #9c27b0 !important;
}

.o-lightgray {
    color: #a9afbb !important;
}

.o-gray {
    color: #777 !important;
}

.o-darkgray {
    color: #555 !important;
}

.bg-color--midnight-blue {
    background: #2c3e50 !important;
    color: #fff !important;
}

.bg-color--lightgray {
    background: #eee !important;
    color: #555 !important;
}

.bg-color--blue {
    background: #00bcd4 !important;
}

.bg-color--gray {
    background: #777 !important;
}

.bg-color--orange {
    background: #ff9800 !important;
}