/* Scrolling */
body {
    overflow-y: hidden;
}

.row{
    margin-right:0px !important;
    margin-left:0px !important;
}

.panel-group .panel+.panel {
     margin-top: 0px !important;
}



/* Paddings */
.padding-1 {
    padding: 5px;
}

.padding-horizontal-1 {
    padding: 5px 0;
}

.padding-horizontal-1 {
    padding: 0 5px;
}

.padding-vertical-1 {
    padding: 5px 0;
}

.padding-top-1 {
    padding-top: 5px
}

.padding-right-1 {
    padding-right: 5px
}

.padding-bottom-1 {
    padding-bottom: 5px
}

.padding-left-1 {
    padding-left: 5px
}

.padding-2 {
    padding: 10px;
}

.padding-horizontal-2 {
    padding: 10px 0;
}

.padding-horizontal-2 {
    padding: 0 10px;
}

.padding-vertical-2 {
    padding: 10px 0;
}

.padding-top-2 {
    padding-top: 10px
}

.padding-right-2 {
    padding-right: 10px
}

.padding-bottom-2 {
    padding-bottom: 10px
}

.padding-left-2 {
    padding-left: 10px
}

.padding-3 {
    padding: 15px;
}

.padding-horizontal-3 {
    padding: 15px 0;
}

.padding-horizontal-3 {
    padding: 0 15px;
}

.padding-vertical-3 {
    padding: 15px 0;
}

.padding-top-3 {
    padding-top: 15px
}

.padding-right-3 {
    padding-right: 15px
}

.padding-bottom-3 {
    padding-bottom: 15px
}

.padding-left-3 {
    padding-left: 15px
}

.padding-4 {
    padding: 20px;
}

.padding-horizontal-4 {
    padding: 20px 0;
}

.padding-horizontal-4 {
    padding: 0 20px;
}

.padding-vertical-4 {
    padding: 20px 0;
}

.padding-top-4 {
    padding-top: 20px
}

.padding-right-4 {
    padding-right: 20px
}

.padding-bottom-4 {
    padding-bottom: 20px
}

.padding-left-4 {
    padding-left: 20px
}

.padding-5 {
    padding: 25px;
}

.padding-horizontal-5 {
    padding: 25px 0;
}

.padding-horizontal-5 {
    padding: 0 25px;
}

.padding-vertical-5 {
    padding: 25px 0;
}

.padding-top-5 {
    padding-top: 25px
}

.padding-right-5 {
    padding-right: 25px
}

.padding-bottom-5 {
    padding-bottom: 25px
}

.padding-left-5 {
    padding-left: 25px
}

/* Margins */
.margin-1 {
    margin: 5px;
}

.margin-horizontal-1 {
    margin: 5px 0;
}

.margin-horizontal-1 {
    margin: 0 5px;
}

.margin-vertical-1 {
    margin: 5px 0;
}

.margin-top-1 {
    margin-top: 5px
}

.margin-right-1 {
    margin-right: 5px
}

.margin-bottom-1 {
    margin-bottom: 5px
}

.margin-left-1 {
    margin-left: 5px
}

.margin-2 {
    margin: 10px;
}

.margin-horizontal-2 {
    margin: 10px 0;
}

.margin-horizontal-2 {
    margin: 0 10px;
}

.margin-vertical-2 {
    margin: 10px 0;
}

.margin-top-2 {
    margin-top: 10px
}

.margin-right-2 {
    margin-right: 10px
}

.margin-bottom-2 {
    margin-bottom: 10px
}

.margin-left-2 {
    margin-left: 10px
}

.margin-3 {
    margin: 15px;
}

.margin-horizontal-3 {
    margin: 15px 0;
}

.margin-horizontal-3 {
    margin: 0 15px;
}

.margin-vertical-3 {
    margin: 15px 0;
}

.margin-top-3 {
    margin-top: 15px
}

.margin-right-3 {
    margin-right: 15px
}

.margin-bottom-3 {
    margin-bottom: 15px
}

.margin-left-3 {
    margin-left: 15px
}

.margin-4 {
    margin: 20px;
}

.margin-horizontal-4 {
    margin: 20px 0;
}

.margin-horizontal-4 {
    margin: 0 20px;
}

.margin-vertical-4 {
    margin: 20px 0;
}

.margin-top-4 {
    margin-top: 20px
}

.margin-right-4 {
    margin-right: 20px
}

.margin-bottom-4 {
    margin-bottom: 20px
}

.margin-left-4 {
    margin-left: 20px
}

.margin-5 {
    margin: 25px;
}

.margin-horizontal-5 {
    margin: 25px 0;
}

.margin-horizontal-5 {
    margin: 0 25px;
}

.margin-vertical-5 {
    margin: 25px 0;
}

.margin-top-5 {
    margin-top: 25px
}

.margin-right-5 {
    margin-right: 25px
}

.margin-bottom-5 {
    margin-bottom: 25px
}

.margin-left-5 {
    margin-left: 25px
}

/* Footer & Content*/
.main-panel {
    background: #f9f9f9;
}

.main-panel > .footer {
    background: #333;
    color: #eee;
    margin-top: 100px;
}

/* Modals */
.ui-widget select {
    padding-top: 5px;
    padding-bottom: 5px;
}

.ui-widget.ui-widget-content {
    padding: 0;
    box-shadow: 0 0 5px #777;
}

.ui-widget-header {
    background-color: #30526a;
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
    color: white;
}

/* Form overrides */
.form-group.label-static label.control-label, .form-group.label-floating.is-focused label.control-label, .form-group.label-floating:not(.is-empty) label.control-label {
    font-size: 13px;
}
z
.form-group.label-floating label.control-label, .form-group.label-placeholder label.control-label {
    top: -25px;
}

.checkbox label {
    color: #AAA;
}

.checkbox .checkbox-material {
    padding-left: 20px;
}

.checkbox .checkbox-material:before {
    left: 20px;
    top: -5px;
}

/* Images */
.img-bg-container {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-bg-container.contain {
    background-size: contain;
}

/* Buttons */
.btn-group > .btn:not(:last-of-type) {
    margin-right: 2px;
}

/* Tables */
table.table > thead > tr > th {
    padding: 13px 7px;
}

/* Forms */
.full-width {
    width: 100% !important;
}

label.section-label {
    font-weight: 600;
    font-size: 1.2em;
}

/* Slider */
.slider-container {
    padding: 40px;
}

.slider-container > .slider {
    background: none;
}

.slider-container .slick-prev:before,
.slider-container .slick-next:before {
    color: black;
}

/* Navbar */
.navbar .dropdown-menu[data-color="blue"] li a:hover,
.navbar .dropdown-menu[data-color="blue"] li a:focus,
.navbar .dropdown-menu[data-color="blue"] li a:active, .navbar.navbar-default .dropdown-menu li a:hover,
.navbar.navbar-default .dropdown-menu[data-color="blue"] li a:focus,
.navbar.navbar-default .dropdown-menu[data-color="blue"] li a:active {
  background-color: #30526a !important;
  color: #FFFFFF;
  box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(5, 88, 212, 0.2);
}

/* Forms */
.standing-out {
    box-shadow: 0 0 10px 2px #aaa;
    padding: 40px 80px;
}

/* ---------------smouzakitis added CSS----------------- */
.accountheader{
    margin-top:-40px;
    margin-left:-80px;
    margin-right:-80px;
    text-align:center;
    padding: 20px 0px;
}
.o-lighter-gray{
    color: #555 !important;
}
.o-lighter-green{
    color: #47e159 !important;
}
.filterservices{
    margin-top:0px;
    margin-left:0px;
}

.card-default-width {
    width:300px;
}
.card-padding-20{
    padding: 0px 20px;
}
.card-default-margin-right{
    margin-right:20px;
}
.card-text-default-height{
    height:80px;
    padding-top:5px;
}
.card-title-default-height{
    height:30px;
}
.makerequestbtn {
    background-color:#32879c !important;
}

/* -----------------end of smouzakitis CSS---------------*/