{% extends 'visualizer/viz_base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'visualizer/css/basic_viz.css' %}" rel="stylesheet" />

    <style type="text/css">
        #chartdiv {
            width: 100%;
{#            height: 500px;#}
        }
    </style>
{% endblock %}

{% block viz_content %}

    <div id="chartdiv" class="text-center" style="color: #30526a;overflow: visible; margin-top: 50px; height: auto;">
        <h1> {{ value }} </h1>
        <h2> {{ unit }} </h2>
    </div>


{% endblock %}



{% block js %}


{% endblock %}