{% extends 'visualizer/viz_base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'visualizer/css/basic_viz.css' %}" rel="stylesheet" />

    <style type="text/css">
        #chartdiv {
            width: 100%;
            height: 500px;
            margin-top: 0 !important;
        }
        .wrapper{
            margin: 0 !important;
        }
    </style>
{% endblock %}

{% block viz_content %}

    <div id="chartdiv" style="overflow: visible; text-align: left; margin-top: 50px; height: auto;">
        <table class="table table-striped table-bordered ">
            <thead>
                <tr>
                    {% for h in headers %}
                        <th>{{ h.title }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% if isJSON %}
                    {% for row in data %}
                        {% if forloop.counter0 < 50 %}
                            <tr page="{{ forloop.counter0 }}">
                                {% else %}
                            <tr hidden page="{{ forloop.counter0 }}">
                        {% endif %}

                            {% for key, item in row.items %}
                                <td>{{ item }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for row in data %}
                        {% if forloop.counter0 < 50 %}
                            <tr page="{{ forloop.counter0 }}">
                                {% else %}
                            <tr hidden page="{{ forloop.counter0 }}">
                        {% endif %}
                            {% for item in row %}
                                <td>{{ item }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    <div id="chartPaginationDiv" page="0" lastidx="{{ data|length }}">
        <button id="chartPrevBtn" disabled class="btn btn-default btn-sm">Previous</button>
        <button id="chartNextBtn" class="btn btn-default btn-sm">Next</button>
    </div>

{% endblock %}



{% block js %}


{% endblock %}