{% extends 'visualizer/viz_base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'visualizer/css/basic_viz.css' %}?bdo_version={{ settings.BDO_VERSION }}" rel="stylesheet" />

    <style type="text/css">
        #chartdiv {
            width: 100%;
            height: 500px;
            margin-top: 0 !important;
        }
        .wrapper{
            margin: 0 !important;
        }
    </style>
{% endblock %}

{% block viz_content %}

    <div id="chartdiv" style="overflow: visible; text-align: left; margin-top: 50px; height: auto;">
        <table class="table table-striped table-bordered ">
            <thead>
                <tr>
                    {% for h in headers %}
                        <th style="white-space: pre-line;">{{ h.title }} {% if not h.unit %} {% else %}&#10;&#13; ({{ h.unit }}) {% endif %}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% if isJSON %}
                    {% for row in data %}
                        {% if forloop.counter0 < 50 %}
                            <tr page="{{ forloop.counter0 }}">
                                {% else %}
                            <tr hidden page="{{ forloop.counter0 }}">
                        {% endif %}

                            {% for key, item in row.items %}
                                <td>{{ item }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% else %}
                    {% for row in data %}
                        {% if forloop.counter0 < 50 %}
                            <tr page="{{ forloop.counter0 }}">
                                {% else %}
                            <tr hidden page="{{ forloop.counter0 }}">
                        {% endif %}
                            {% for item in row %}
                                <td>{{ item }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    <div id="chartPaginationDiv" page="0" lastidx="{{ data|length }}">
        <button id="chartPrevBtn" disabled class="btn btn-default btn-sm">Previous</button>
        <button id="chartNextBtn" class="btn btn-default btn-sm">Next</button>
    </div>

{% endblock %}



{% block js %}
    <script>
        $("#chartPaginationDiv").on('click', '#chartNextBtn', function () {
                var page = parseInt($('#chartPaginationDiv').attr("page"));
                if (page >= 0) {
                    $('#chartPaginationDiv').find('#chartPrevBtn').prop('disabled', false);
                }
                hide_rows(page);
                page++;
                show_rows(page);
                $('#chartPaginationDiv').attr("page", page);
                lastPage = Math.floor(parseInt(iframe.find('#chartPaginationDiv').attr("lastidx")) / 50);
                if (page >= lastPage - 1) {
                    $(this).prop('disabled', true);
                }
            });

            $("#chartPaginationDiv").on('click', '#chartPrevBtn', function () {
                var page = parseInt($('#chartPaginationDiv').attr("page"));
                lastPage = Math.floor(parseInt(iframe.find('#chartPaginationDiv').attr("lastidx")) / 50);
                if (page <= lastPage) {
                    $('#chartPaginationDiv').find('#chartNextBtn').prop('disabled', false);
                }
                hide_rows(page);
                page--;
                show_rows(page);
                $('#chartPaginationDiv').attr("page", page);
                if (page <= 0) {
                    $(this).prop('disabled', true);
                }
            });

            function hide_rows(page) {
                for (ix = page * 50; ix < (page + 1) * 50; ix++) {
                    $('.table > tbody > tr[page="' + ix + '"]').hide();
                }
            }

            function show_rows(page) {
                for (ix = page * 50; ix < (page + 1) * 50; ix++) {
                    $('.table > tbody > tr[page="' + ix + '"]').show();
                }
            }
    </script>


{% endblock %}