{% extends 'visualizer/viz_base.html' %}

{% load static %}
{% load leaflet_tags %}


{% block css %}
    {% leaflet_css %}

    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/leaflet.awesome-markers.css' %}">
    <link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}">

    {% for css in css_all %}
        {% autoescape off %}
            {{ css }}
        {% endautoescape %}
    {% endfor %}

    <link rel="stylesheet" type="text/css" href="{% static 'visualizer/css/map.css' %}" />

{% endblock %}

{% block viz_content %}

    {% leaflet_map map_id callback="window.map_init_basic"%}
    {% if legend_id != "" %}
        <div style="position:absolute; bottom:30px; left:60px; ">
            <img src="{% static legend_id %}" alt="Legend" >
{#            <img src="{{ legend_id }}" alt="Legend" >#}
            <span style="color: white;">{{ unit }}</span>
        </div>
    {% endif %}
    <div id="snapshot"></div>
{% endblock %}



{% block js %}


    {% leaflet_js %}
    <script src="{% static 'js/leaflet.awesome-markers.js' %}"></script>
    <script src="{% static 'js/leaflet.markercluster.js'%}"></script>

    <script src="{% static 'js/leaflet-image.js' %}"></script>

    {% for js in js_all %}
        {% autoescape off %}
            {{ js }}
        {% endautoescape %}
    {% endfor %}

    <script>
        var map = {{ map_id|safe }};
    </script>

{% endblock %}