{% extends 'visualizer/viz_base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'visualizer/css/basic_viz.css' %}" rel="stylesheet" />

    <style type="text/css">
        #chartdiv {
            width: 100%;
            height: 450px;
        }
        #chartdiv  svg{
            overflow-y: visible;
        }
        #chartdiv > div > div.amcharts-chart-div{
            overflow-y: visible;
        }
        img{
            max-width: 100%;
            max-height: 100%;
        }
    </style>
{% endblock %}

{% block viz_content %}

    <div id="chartdiv" style="overflow: visible; text-align: center; margin-top: 0px">
{#        <img src="{{ hist_path }}" alt="Histogram2D">#}
        <img src="../../static/visualizer/img/temp/{{ hist_path }}" alt="Histogram2D">
    </div>


{% endblock %}



{% block js %}


  <script>
  // tell the embed parent frame the height of the content
  if (window.parent && window.parent.parent){
    window.parent.parent.postMessage(["resultsFrame", {
      height: document.body.getBoundingClientRect().height,
      slug: "None"
    }], "*")
  }
</script>

{% endblock %}