{% extends 'visualizer/viz_base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'visualizer/css/basic_viz.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all">

    <style type="text/css">
        #chartdiv {
            width: 100%;
            height: 90vh;
        }
        #chartdiv  svg{
            overflow-y: visible;
        }
        #chartdiv > div > div.amcharts-chart-div{
            overflow-y: visible;
        }
    </style>
{% endblock %}

{% block viz_content %}

    <div id="chartdiv" class="align-middle" style="overflow: visible; text-align: left; margin: 10px"></div>

{% endblock %}



{% block js %}
<script type="text/javascript" src="https://www.amcharts.com/lib/3/plugins/export/libs/fabric.js/fabric.min.js" async=""></script><script type="text/javascript" src="https://www.amcharts.com/lib/3/plugins/export/libs/FileSaver.js/FileSaver.min.js" async=""></script><script type="text/javascript" src="https://www.amcharts.com/lib/3/plugins/export/libs/jszip/jszip.min.js" async=""></script><script type="text/javascript" src="https://www.amcharts.com/lib/3/plugins/export/libs/pdfmake/pdfmake.min.js" async=""></script><script type="text/javascript" src="https://www.amcharts.com/lib/3/plugins/export/libs/xlsx/xlsx.min.js" async=""></script><script type="text/javascript" src="https://www.amcharts.com/lib/3/plugins/export/libs/pdfmake/vfs_fonts.js" async=""></script></head>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<script type="text/javascript">//<![CDATA[

var chart = AmCharts.makeChart("chartdiv", {
    "type": "serial",
    "theme": "light",
    "legend": {
        "align":"center",
        "horizontalGap": 10,
        "maxColumns": 4,
        "position": "bottom",
        "markerSize": 15,
        "marginTop": 30,
        "switchable": true,
        "fontSize": 15,
        "equalWidths": false,
        "pulled":true,
        "valueWidth":130,
        "valueFunction": function(graphDataItem, valueText) {
                             if (valueText !== " ") {
                                 var value = graphDataItem.dataContext[graphDataItem.graph.valueField];
                                 var list = {{ m_units|safe }};
                                 var count=(graphDataItem.graph.id).replace("g","");
                                 var un = list[count];
                                 return String(Math.round(value*1000)/1000) +" "+ String(un);
                             }
                             else return valueText;
        }
    },
    "marginRight": 20,
    "marginLeft": 20,
    "autoMarginOffset": 10,
    "mouseWheelZoomEnabled": true,
    "dataDateFormat": "YYYY-MM-DD HH:NN",
    "valueAxes": [
        {% for item in value_col %}
            {
                "id": "v{{ forloop.counter0 }}",
                "axisAlpha": 0,
                {% if forloop.counter0 == 0 %}"position": "left",
                    {% elif forloop.counter0 == 1 %}"position": "right",
                    {% elif forloop.counter0 == 2 %}"position":"left","offset":60,
                    {% elif forloop.counter0 == 3 %}"position":"right","offset":40,
                {% endif %}
                {#"ignoreAxisWidth": true#}
            },
        {% endfor %}
    ],
    "balloon": {
        "borderThickness": 1,
        "shadowAlpha": 0,
        "fontSize": 15,
    },
    "allLabels": [{
        "text": "{{ category_title }}",
        "bold": true,
        "x": "50%",
        "y": "89%",
        "rotation": 0,
        "width": "100%",
        "align": "middle",
        "size": 15
    }],
    "graphs": [
        {% for item in value_col %}
            {
                "id": "g{{ forloop.counter0 }}",
                "valueAxis": "v{{ forloop.counter0 }}",
                "balloon": {
                    "drop": false,
                    "adjustBorderColor": false,
                    "color": "#ffffff"
                },
                "bullet": "round",
                "bulletBorderAlpha": 1,
                "bulletColor": "#FFFFFF",
                "bulletSize": 2,
                "hideBulletsCount": 50,
                "lineThickness": 2,
                {% if forloop.counter0 == 0 %} "title": "{{ title_col.0 }}",
                    {% elif forloop.counter0 == 1 %} "title": "{{ title_col.1 }}",
                    {% elif forloop.counter0 == 2 %} "title": "{{ title_col.2 }}",
                    {% elif forloop.counter0 == 3 %} "title": "{{ title_col.3 }}",
                {% endif %}
                "useLineColorForBulletBorder": true,
                "valueField": "{{ item }}",
                "balloonText": "<span style='font-size:15px;'>[[value]] </span>",
                "balloonFunction": function(graphDataItem, graph) {
                    var value = graphDataItem.values.value;
                    var count = {{ forloop.counter0 }};
                    var list = {{ m_units|safe }};
                    var un = list[count];
                    return String(Math.round(value*1000)/1000) +" "+ String(un);
                }
            },
        {% endfor %}
    ],
    "chartScrollbar": {
{#        "graph": "g0",#}
        "oppositeAxis": false,
        "offset": 25,
        "scrollbarHeight": 45,
        "backgroundAlpha": 0,
        "selectedBackgroundAlpha": 0.1,
        "selectedBackgroundColor": "#888888",
        "graphFillAlpha": 0,
        "graphLineAlpha": 0.5,
        "selectedGraphFillAlpha": 0,
        "selectedGraphLineAlpha": 1,
        "autoGridCount": true,
        "color": "#AAAAAA"
    },
    "chartCursor": {
        "pan": true,
        "valueLineEnabled": true,
        "valueLineBalloonEnabled": true,
        "cursorAlpha": 1,
        "cursorColor": "#258cbb",
        "limitToGraph": "g0",
        "valueLineAlpha": 0.2,
        "valueZoomable": true,
        {% if min_period == 'YYYY' %}
           "categoryBalloonDateFormat":"YYYY",
        {% elif min_period == 'MM' %}
           "categoryBalloonDateFormat":"MMM YYYY",
        {% elif min_period == 'DD' %}
           "categoryBalloonDateFormat":"DD MMM YYYY",
        {% elif min_period == 'hh' %}
           "categoryBalloonDateFormat":"JJ:NN DD MMM YYYY",
        {% elif min_period == 'mm' %}
           "categoryBalloonDateFormat":"JJ:NN DD MMM YYYY",
        {% else %}
            "categoryBalloonDateFormat":"DD MMM YYYY JJ:NN:SS",
        {% endif %}

    },

    "valueScrollbar": {
        "oppositeAxis": false,
        "offset": 50,
        "scrollbarHeight": 10
    },
    "categoryField": "{{ category_col }}",
    "categoryAxis": {
{#        "title": "{{ category_title }}",#}
{#        "titleFontSize":15,#}
        "parseDates": {{ isDate }},
        {% if isDate %}"minPeriod": "{{ min_period }}",{% endif %}
        "dashLength": 1,
        "minorGridEnabled": true,
        "boldPeriodBeginning": false,

    },
    "export": {
        "enabled": true
    },
    "dataProvider": {{ data|safe }}
});

chart.addListener("rendered", zoomChart);

zoomChart();

function zoomChart() {
  chart.zoomToIndexes(chart.dataProvider.length - 40, chart.dataProvider.length - 1);
}

</script>




    <script>
        // tell the embed parent frame the height of the content
        if (window.parent && window.parent.parent){
            window.parent.parent.postMessage(["resultsFrame", {
            height: document.body.getBoundingClientRect().height,
            slug: "None"
            }], "*")
        }
    </script>




{% endblock %}