{% extends 'visualizer/viz_base.html' %}

{% load static %}
{% load leaflet_tags %}


{% block css %}
    {% leaflet_css %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
{#    <link href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" rel="stylesheet"/>#}
{#    <link href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" rel="stylesheet"/>#}
{#    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.css" rel="stylesheet"/>#}
{#    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css" rel="stylesheet"/>#}
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/leaflet.awesome-markers.css' %}?bdo_version={{ settings.BDO_VERSION }}">
    <link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}?bdo_version={{ settings.BDO_VERSION }}">


    <link href="http://apps.socib.es/Leaflet.TimeDimension/dist/leaflet.timedimension.control.min.css" rel="stylesheet"/>


    {% for css in css_all %}
        {% autoescape off %}
            {{ css }}
        {% endautoescape %}
    {% endfor %}

    <link rel="stylesheet" type="text/css" href="{% static 'visualizer/css/map.css' %}?bdo_version={{ settings.BDO_VERSION }}"/>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/control.css' %}?bdo_version={{ settings.BDO_VERSION }}"/>


{% endblock %}

{% block viz_content %}

    <div id="info">
        <ul id="displayed-list"></ul>
    </div>
    {% if not has_data %}
        <h4 style="text-align: center; background-color: white;">No simulation data for the selected parameters, please try again with different values</h4>
    {% endif %}
    {% if not has_ais and ais_asked %}
        <h4 style="text-align: center; background-color: white;">No vessels were near the oil spill start at the given time frame</h4>
    {% endif %}
    {% leaflet_map map_id %}
    <input hidden value="" id="current_time" />
    <div style="position: fixed; background:#00000063;  bottom:50px; right:50px; z-index:9999; font-size:14px; color: white">
        <div style="padding: 10px">
            <i class="fa fa-circle " style="color: #7B007E; margin-right: 5px"></i>Oilspill Start
            <br><i class="fa fa-circle " style="color: blue; margin-right: 5px"></i>Sea Bottom
            <br><i class="fa fa-circle " style="color: cadetblue; margin-right: 5px"></i>Under Sea
            <br><i class="fa fa-circle " style="color: lightblue; margin-right: 5px"></i>On Surface
            <br><i class="fa fa-circle " style="color: orange; margin-right: 5px"></i>On Coast
            <br><i class="fa fa-circle " style="color: red; margin-right: 5px"></i>In Protected Areas
        </div>
    </div>
    <button id="snapshot_button" style="display: none;"></button>
    <input hidden value="" id="snapshot_status" />
    <div id="snapshot" style="position: absolute; top: 1000px; display: none;"></div>

{% endblock %}



{% block js %}

    {% leaflet_js %}
{#    <script src="{% static 'js/leaflet.awesome-markers.js' %}?bdo_version={{ settings.BDO_VERSION }}"></script>#}
{#    <script src="{% static 'js/leaflet.markercluster.js' %}?bdo_version={{ settings.BDO_VERSION }}"></script>#}

    <script src="{% static 'js/bootstrap.min.js' %}?bdo_version={{ settings.BDO_VERSION }}"></script>
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>#}
    <script src="{% static 'js/leaflet.awesome-markers.js' %}?bdo_version={{ settings.BDO_VERSION }}"></script>
{#    <script src="{% static 'js/leaflet.markercluster.js' %}?bdo_version={{ settings.BDO_VERSION }}"></script>#}

    <script src="https://rawgit.com/nezasa/iso8601-js-period/master/iso8601.min.js"></script>
    <script src="https://rawgit.com/socib/Leaflet.TimeDimension/master/dist/leaflet.timedimension.min.js"></script>


    <script src="{% static 'js/leaflet-image.js' %}?bdo_version={{ settings.BDO_VERSION }}"></script>


    {% for js in js_all %}
        {% autoescape off %}
            {{ js }}
        {% endautoescape %}
    {% endfor %}

    <script>

         var map = {{ map_id|safe }};
          map.timeDimension = L.timeDimension({period:'{{time_interval}}'});
            map.timeDimensionControl = L.control.timeDimension({
                position: 'bottomleft',
                autoPlay: true,
                playerOptions: {
                    transitionTime: 600,
                    loop: true}
            });
           map.addControl(map.timeDimensionControl);

            var timestamped_geo_json = L.timeDimension.layer.geoJson(
                L.geoJson({'type':'FeatureCollection','features':{{ data|safe }}}, {'pointToLayer': function (feature,latlng) {
                    var geojsonMarkerOptions = {
                    radius: 4,
                    fillColor: feature.properties.style.color,
                    color: feature.properties.style.color,
                    weight: 1,
                    opacity: 1,
                    fillOpacity: 0.8
                    };
{#                    feature.properties.style#}
                    {% if markerType == 'circle' %}
                        return L.circleMarker(latlng,geojsonMarkerOptions);
                    {% else %}
                        return L.marker(latlng,geojsonMarkerOptions);
                    {% endif %}
                }}),
                {updateTimeDimension: true,
                    addlastPoint: true,
                    {% if duration != '' %}
                        duration:'{{ duration }}'
                    {% endif %}
                }
                ).addTo(map);

         $("#snapshot_button").click(function () {
             $("#snapshot").empty();
             $("#snapshot_status").val("working");
             snap();
         });

        function get_snapshot(timestamp){
          leafletImage(map, function(err, canvas) {
                // now you have canvas
                // example thing to do with that canvas:
                var img = document.createElement('img');
                var img_container = document.createElement('div');
                var dimensions = map.getSize();
                img.width = dimensions.x;
                img.height = dimensions.y;
                img.src = canvas.toDataURL();
{#                img.data('timestamp', timestamp);#}
                img_container.id = timestamp;
                img_container.appendChild(img);
                document.getElementById('snapshot').appendChild(img_container);
            });
        }

        function stop() {
            map.timeDimensionControl._player.pause();
        }



        function snap(times){
            {% for x in available_times %}
                {% if forloop.counter0 == 0 %}
                    map.timeDimensionControl._player.pause();
                    map.timeDimension.setCurrentTime(map.timeDimension._availableTimes[{{ forloop.counter0 }}]);
                    map.timeDimensionControl._player.pause();
                    get_snapshot(map.timeDimension._availableTimes[{{ forloop.counter0 }}]);
                {% elif forloop.counter0|divisibleby:ignore_every %}
                    setTimeout(function(){
                        map.timeDimensionControl._player.pause();
                        map.timeDimension.setCurrentTime(map.timeDimension._availableTimes[{{ forloop.counter0 }}]);
                        map.timeDimensionControl._player.pause();
                        get_snapshot(map.timeDimension._availableTimes[{{ forloop.counter0 }}]);
                    }, 5000 + {%  widthratio forloop.counter0 ignore_every 1 %} * 1500);
                {% endif %}
                {% if forloop.last %}
                    setTimeout(function(){
                        $("#snapshot_status").val("done");
                        map.timeDimensionControl._player.release();
                    }, 5000 + {%  widthratio forloop.counter0 ignore_every 1 %} * 1500 + 1500);

                {% endif %}
            {% endfor  %}
        }

        $(document).ready(function(){
            function update_current_time(){
              $("#current_time").val(map.timeDimension.getCurrentTime());
            }
            setInterval(update_current_time,100);



{#            $("#download-report").click(function () {#}

{#                map.timeDimension._availableTimes;#}




{#            });#}
        });
    </script>



{% endblock %}