{% extends 'visualizer/viz_base.html' %}


{% load static %}
{% load leaflet_tags %}
<head>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
</head>


{% block css %}
    {% leaflet_css %}

    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/leaflet.awesome-markers.css' %}">
    <link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}">

    {% for css in css_all %}
        {% autoescape off %}
            {{ css }}
        {% endautoescape %}
    {% endfor %}

    <link rel="stylesheet" type="text/css" href="{% static 'visualizer/css/map.css' %}" />

{% endblock %}

{% block viz_content %}

    {% leaflet_map map_id callback="window.map_init_basic"%}
{% endblock %}



{% block js %}


    {% leaflet_js %}
    <script src="{% static 'js/leaflet.awesome-markers.js' %}"></script>

    <script src="{% static 'js/leaflet.markercluster.js'%}"></script>


    {% for js in js_all %}
        {% autoescape off %}
            {{ js }}
        {% endautoescape %}
    {% endfor %}


    <script type="text/javascript">
        var startsplitter = 42;
        var map = {{ map_id|safe }};
        var min_lat = parseFloat("{{ min_lat }}");
        var min_lon = parseFloat("{{ min_lon }}");
        var max_lat=parseFloat("{{ max_lat }}");
        var max_lon=parseFloat("{{ max_lon }}");
        var step = parseFloat("{{ step }}");
        var final_data={{ data_grid |safe}};
        var agg_func= "{{ agg_function }}";
        var popup = L.popup();
        map.on('click',latLngPop);


        function latLngPop(e) {
            var cl_lat=e.latlng.lat.toFixed(4);
            var cl_lon=e.latlng.lng.toFixed(4);
            var idx_lat=parseInt((cl_lat-min_lat)/step);
            var idx_lon=parseInt((cl_lon-min_lon)/step);



            if((cl_lat<max_lat)&&(cl_lon<max_lon)&&(cl_lat>min_lat)&&(cl_lon>min_lon)) {

                for (i=min_lat ; i<cl_lat ; i=i+step){
                    var sa_lat=i;
                }
                sa_lat=Number((sa_lat).toFixed(4));
                var ea_lat= Number((sa_lat + step).toFixed(4));

                for (i=min_lon ; i<cl_lon ; i=i+step){
                    var sa_lon=i;
                }
                sa_lon=Number((sa_lon).toFixed(4));
                var ea_lon= Number((sa_lon + step).toFixed(4));

                var value = (final_data[idx_lon])[idx_lat];
                if (value != "-9999999") {
                    popup.setLatLng(e.latlng)
                        .setContent("Latitude Area: [" + sa_lat +"  ,  " + ea_lat +"]"+
                            "<br>Longitude Area: [" + sa_lon +"  ,  " + ea_lon +"]"+
                            "<br>Value ("+ agg_func +") : " + value)
                        .openOn(map);
                }
            }
        }
    var endsplitter = 42;
    </script>

{% endblock %}