{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'visualizer/css/basic_viz.css' %}" rel="stylesheet" />
    <style>
        #loadImg{position:absolute;z-index:999;}
        #loadImg {display:table-cell;width:90%;height:100%;background:#fff;text-align:center;vertical-align:middle;}
    </style>
{% endblock %}

{% block content %}

    <p>Hello world</p>
    <div id="viz_container">
        <div id="loadImg" style="display: none"><img src="{% static 'img/loading.gif' %}" width="70" height="70" /></div>
    </div>
    <button id="addVizBtn">Add map contour</button>


{% endblock %}



{% block js %}
    <script type="text/javascript">
        $('#addVizBtn').click(function(){
            $('#loadImg').show();
            $("#viz_container").append('<iframe class="resizable" ' +
                'src="{% url 'get_map_contour' %}" frameborder="0" allowfullscreen="" '+
                'onload="document.getElementById(\'loadImg\').style.display=\'none\';"></iframe>');

        })
    </script>

{% endblock %}