{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'visualizer/css/basic_viz.css' %}" rel="stylesheet" />
    <style>
        #loadImg{position:absolute;z-index:999;}
        #loadImg {display:table-cell;width:90%;height:100%;background:#fff;text-align:center;vertical-align:middle;}
    </style>
{% endblock %}

{% block content %}

    <p>Hello world</p>
    <div id="mapContourContainer">
        <div id="loadImg" style="display: none"><img src="{% static 'img/loading.gif' %}" width="70" height="70" /></div>
    </div>
    <button id="mapContourBtn">Add map contour</button>


{% endblock %}



{% block js %}
    <script type="text/javascript">
        $('#mapContourBtn').click(function(){
            $('#loadImg').show();
            $("#mapContourContainer").append('<iframe class="resizable" ' +
                'src="http://localhost:8000/visualizations/get_map_contour?query=9&feat_1=i1_temperature&n_contours=20&step=0.2" ' +
                'frameborder="0" allowfullscreen="" '+
                'onload="document.getElementById(\'loadImg\').style.display=\'none\';"></iframe>');
        })
    </script>

{% endblock %}