{% load static %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link href="{% static 'css/bootstrap.min.css' %}?bdo_version={{ settings.BDO_VERSION }}" rel="stylesheet" />

    <link href="{% static 'css/jquery.contextMenu.css' %}?bdo_version={{ settings.BDO_VERSION }}" rel="stylesheet" />
    <link href="{% static 'css/jquery.modal.css' %}?bdo_version={{ settings.BDO_VERSION }}" rel="stylesheet" />
    <link href="{% static 'css/jquery-ui.min.css' %}?bdo_version={{ settings.BDO_VERSION }}" rel="stylesheet" />


    {% block css %}
    {% endblock %}

</head>

<body>
    <input class="visualisation_execution_input" value= "success" type="hidden">

	<div class="wrapper" style="margin:20px">
        {% block viz_content %}
        {% endblock %}
	</div>

</body>
	<!--   Core JS Files   -->
	<script src="{% static 'js/jquery-3.1.0.min.js' %}?bdo_version={{ settings.BDO_VERSION }}" type="text/javascript"></script>
	<script src="{% static 'js/bootstrap.min.js' %}?bdo_version={{ settings.BDO_VERSION }}" type="text/javascript"></script>


	<script src="{% static 'js/jquery.contextMenu.min.js' %}?bdo_version={{ settings.BDO_VERSION }}" type="text/javascript"></script>
	<script src="{% static 'js/jquery.modal.min.js' %}?bdo_version={{ settings.BDO_VERSION }}" type="text/javascript"></script>
	<script src="{% static 'js/jquery-ui.min.js' %}?bdo_version={{ settings.BDO_VERSION }}" type="text/javascript"></script>


	{% block js %}
    {% endblock %}

</html>