<form action="/oilspill/process/" method="GET" id="oilspill_form">
    {% csrf_token %}
    {#    {{ form }}#}
    <div class="single-spatial-selection">
        <h4>Geographic Coverage</h4>
        <div class="row" style="margin: 25px; height: 6.7vh;">
            <div class="lat-container">
                <div class='col-sm-6'>
                    <p>Latitude: </p>
                </div>
                <div class='col-sm-6' style="bottom: 16px;">
                    <input class="form-control" id="lat" type='number' step="0.01" min="-90" max="90"/>
                </div>
            </div>
            <div class="lon-container">
                <div class='col-sm-6'>
                    <p>Longitude:</p>
                </div>
                <div class='col-sm-6' style="bottom: 16px;">
                    <input class="form-control" id="lon" type='number' step="0.01" min="-180" max="180"/>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="service-duration">
        <h4>Oil Spill Parameters</h4>
        <div class="row" style="margin: 25px; height: 6.7vh;">
            <div class="oil-volume-container">
                <div class='col-sm-6'>
                    <p>Oil Volume: </p>
                </div>
                <div class='col-sm-6' style="bottom: 16px;">
                    <input class="form-control" id="oil_volume" type='number' step="0.01"/>
                </div>
            </div>
            <div class="oil-density-container">
                <div class='col-sm-6'>
                    <p>Oil Density: </p>
                </div>
                <div class='col-sm-6' style="bottom: 16px;">
                    <input class="form-control" id="oil_density" type='number' step="0.01"/>
                </div>
            </div>

        </div>
        <hr>
    </div>
    <div class="coverage-date-filters">
        <h4>Timeframe</h4>
        <div class="row" style="margin-top:15px">
            <div class="coverage-date-filters-icon">
            </div>
            <div class="time-interval-container">
                <div class='col-sm-6'>
                    <p>Time Interval: </p>
                </div>
                <div class='col-sm-6' style="bottom: 16px;">
                    <input class="form-control" id="time_interval" type='number' step="0.01"/>
                </div>
            </div>
            <div class="simulation-length-container">
                <div class='col-sm-6'>
                    <p>Simulation Length: </p>
                </div>
                <div class='col-sm-6' style="bottom: 16px;">
                    <input class="form-control" id="simulation_length" type='number' step="0.01"/>
                </div>
            </div>
            <div class="vis-duration-container">
                <div class='col-sm-6'>
                    <p>Duration: </p>
                </div>
                <div class='col-sm-6' style="bottom: 16px;">
                    <input class="form-control" id="vis_duration" type='number' step="0.01"/>
                </div>
            </div>

            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date' id='startdatepicker'>
                        <label>Start Date:</label>
                        <input type='text' class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date' id='enddatepicker'>
                        <label>End Date:</label>
                        <input type='text' class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <label for="sel1">Wave Forecast Dataset</label>
            <select class="form-control" id="sel1">
                <option value="202">Poseidon Wave Dataset for the Aegean</option>
                <option value="201">Poseidon Wave Dataset for the Mediterranean</option>
                <option value="203">Copernicus Wave Dataset</option>

            </select><label for="sel2">Hydrodynamic Dataset</label>
            <select class="form-control" id="sel2">
                <option value="001">Poseidon High Resolution Aegean Model</option>
                <option value="002">Poseidon Mediterranean Model</option>
                <option value="003">Copernicus Model</option>

            </select>
        </div>
        <hr>
    </div>
    <div id="point2_form" hidden>
        <div class="row" style="margin: 25px; height: 6.7vh;">
            <div class="lat-container">
                <div class='col-sm-6'>
                    <p>Latitude: </p>
                </div>
                <div class='col-sm-6' style="bottom: 16px;">
                    <input class="form-control" id="lat2" type='number' step="0.01" min="-90" max="90"/>
                </div>
            </div>
            <div class="lon-container">
                <div class='col-sm-6'>
                    <p>Longitude:</p>
                </div>
                <div class='col-sm-6' style="bottom: 16px;">
                    <input class="form-control" id="lon2" type='number' step="0.01" min="-180" max="180"/>
                </div>
            </div>
        </div>

        <div class="oil-volume-container">
            <div class='col-sm-6'>
                <p>Oil Volume: </p>
            </div>
            <div class='col-sm-6' style="bottom: 16px;">
                <input class="form-control" id="oil_volume2" type='number' step="0.01"/>
            </div>
        </div>
        <div class="vis-duration-container">
            <div class='col-sm-6'>
                <p>Duration: </p>
            </div>
            <div class='col-sm-6' style="bottom: 16px;">
                <input class="form-control" id="vis_duration2" type='number' step="0.01"/>
            </div>
        </div>

        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='startdatepicker2'>
                    <label>Start Date:</label>
                    <input type='text' class="form-control"/>
                    <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div id="point3_form" hidden>
        <div class="row" style="margin: 25px; height: 6.7vh;">
            <div class="lat-container">
                <div class='col-sm-6'>
                    <p>Latitude: </p>
                </div>
                <div class='col-sm-6' style="bottom: 16px;">
                    <input class="form-control" id="lat3" type='number' step="0.01" min="-90" max="90"/>
                </div>
            </div>
            <div class="lon-container">
                <div class='col-sm-6'>
                    <p>Longitude:</p>
                </div>
                <div class='col-sm-6' style="bottom: 16px;">
                    <input class="form-control" id="lon3" type='number' step="0.01" min="-180" max="180"/>
                </div>
            </div>
        </div>

        <div class="oil-volume-container">
            <div class='col-sm-6'>
                <p>Oil Volume: </p>
            </div>
            <div class='col-sm-6' style="bottom: 16px;">
                <input class="form-control" id="oil_volume3" type='number' step="0.01"/>
            </div>
        </div>
        <div class="vis-duration-container">
            <div class='col-sm-6'>
                <p>Duration: </p>
            </div>
            <div class='col-sm-6' style="bottom: 16px;">
                <input class="form-control" id="vis_duration3" type='number' step="0.01"/>
            </div>
        </div>

        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='startdatepicker3' style="width: 100%;">
                    <label>Start Date:</label>
                    <input type='text' class="form-control"/>
                    <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                </div>
            </div>
        </div>
    </div>
<hr><br>
        <div class="button-container"  style="width:100%">
            <div id="run-service-btn" type="submit" class="btn btn-primary btn-sm btn-default" style="width:40%">
                <i class="fa fa-play-circle"></i> Run Service
            </div>
            <div id="new_point" class="btn btn-primary btn-sm btn-default" style="width:40%">
                <i class="fa fa-plus-circle"></i> Add Oil Spill
            </div>
        </div>


</form>