/* Service tile */
.service-tile .card-content {
    height: 190px;
    overflow: hidden;
}

.card-deck{
    text-align: center;
}

.service-tile label {
    min-width: 80px;
}

/* Motos */
.moto {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 2px solid #aaa;
    color: #aaa;
    height: 70%;
    overflow: hidden;
}

.service-tile .card {
    height: 280px;
    background-color: #e3e3e3;
}

.card .card-footer .stats{
    display: block;
}
