{% extends "base.html" %}
{% load static %}
{% block css %}

{% endblock %}

{% block content %}

    {# HEADER #}
    <div class="jumbotron col-sm-12" style="padding: 3vh; position: relative;">
        <div class="col-sm-3">
            <img src="{% static 'img/logo.png' %}" style="height: 6vh;">
            <img src="{% static 'hcmr_pilot/img/hcmr-LOGO.jpg' %}" style="height: 7vh; margin-left: 1vh;">
        </div>
        <div class="col-sm-6" style="text-align: center;">
            <h1 style="font-size: 4vh; margin: 0;"> Exploiting Oceans of Data for Maritime Apps </h1>
            <h2 style="font-size: 3vh; margin: 0;"> Mare Protection Service </h2>
        </div>
        <div class="col-sm-3" style="height: 12vh;">
            <a class="btn btn-danger" href="/services/" style="position: absolute; bottom: 0; right: 0;">Back</a>
        </div>
    </div>

    <h3 class="col-sm-7" style="text-decoration: underline;">Pilot Service Description</h3>
    <div class="col-sm-4"><a class="btn btn-success pull-right" href="/oilspill/?scenario=1">Go to service!</a></div>
    <div class="col-sm-7">
        <div class="">
            <p style="text-align: justify;">
                        Mare protection pilot provides a series of applications based on the POSEIDON Oil Spill Model, which are offering essential information for the effective response and management of possible oil spill pollution incidents.
                        Forecasting simulations, enhanced with various cross-sectoral marine data, are taking advantage of the variety and extended ocean data volume available in the BigDataOcean platform.
            </p>
        </div>
        <div class="">
            <div class="" style="margin-bottom: 2vh;">
                <h4>Application 1 - Oil Spill Dispersion Forecast Acquisition:</h4>
                <p style="text-align: justify;">
                    Request an oil spill simulation by defining time and place of the oil spill occurred, as well as the duration of the forecast. As a result, you will have access to a visualized interactive presentation of the oil spill evolution, the areas that could be affected and possibly threatened by severe pollution, as well as marine traffic AIS information. Various environmental forcing can be used as an input for the simulations: POSEIDON products for the Aegean and the Mediterranean Sea (ocean circulation, waves and atmospheric forecasts), or COPERNICUS forecasting data for ocean circulation and waves in the Mediterranean Sea.
                </p>
            </div>
        </div>
        <div class="">
            <div class="" style="margin-bottom: 2vh;">
                <h4>Application 2 – High Risk Pollution Areas:</h4>
                <p style="text-align: justify;">
                    A limited scale risk assessment analysis is available through this application in order to identify areas of high-risk regarding oil pollution. Choose the area of interest and see the analysis results presented with the areas of high sensitivity. POSEIDON – HCMR ocean circulation, wave and weather forecast for the Aegean and the Mediterranean Sea can be used as an input in this application. Natura 2000 protected areas are also available.
                </p>
            </div>
        </div>
        <div class="">
            <div class="" style="margin-bottom: 2vh;">
                <h4>Application 3 – Underwater Accident:</h4>
                <p style="text-align: justify;">
                    A hypothetical accident during oil drilling can be simulated in this application. The oil is considered to be released on the seabed and the 3-d oil dispersion results are delivered within a few minutes time from the user request.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-5"><img src="{% static '/img/pilot_screenshots/hcmr1.PNG' %}" style="width: 100%;"></div>

    <div id="footer" class="col-sm-12" style="text-align: center;">
        <p style="display: inline-block; margin-right: 10px;">Do you want or need anything different?</p><a href="/#contact" class="btn btn-primary btn-sm" style="display: inline-block;">Get in touch with us</a>
    </div>
{% endblock %}

{% block  js %}

{% endblock %}