{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href={% static '/css/services/view_dashboard.css' %}>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <h2 class="text-center">{{ dashboard.title }}</h2>
    {% if can_edit or is_owner %}
        <div class="row">
            <a href="/dashboards/edit/{{ dashboard.id }}/" class="btn btn-default btn-md pull-left bg-color--blue" style="">
                <i class="fas fa-edit"></i> Edit
            </a>
            <button data-toggle="modal" data-target="#shareModal" type ="button" id="share_dashboard_btn" style="" class="btn btn-success btn-md pull-left">
                 <span><i class="fas fa-share"></i>Share</span>
            </button>
            {% if is_owner %}
                <button data-toggle="modal" data-target="#deleteModal" type ="button" id="delete_dashboard_btn" style="float: right; background-color: rgb(160, 0, 0) !important ; padding-left: 15px;" class="btn btn-md">
                     <span style="font-size: 15px;float: left; margin-right: 18px" class="glyphicon glyphicon-trash"></span><span style="float: right">Delete</span>
                </button>
            {% endif %}
        </div>
    {% endif %}

    <div>
         <div ng-app="myApp" ng-controller="MainCtrl">
            <div id="dynamic_dashboard" gridster="gridsterOpts">
                <ul id="widgetParent">
                    <li id="[[item.id]]" gridster-item="item" ng-repeat="item in standardItems">
                        <div class='wrap1'></div>
                        <header class="iframeHeader" ng-class="{'iframeHeaderNote': item.url == ''}">
                            <p class="widget-title" ng-class="{'titleNote': item.url == ''}" ng-bind="item.title"> </p>
                        </header>
                        <div ng-class="{'ng-wrapper': item.noteData == ''}" ng-switch="!!item.noteData" >
                            <div class="ng-wrapper" ng-switch-when="false">
                                <div class="loadingFrame"><img src="{% static 'img/loading_gif.gif' %}"/></div>
                                <iframe  class="iframe-class" src=[[item.url]] frameborder='0' onLoad="hideGif( this, event )"></iframe>
                            </div>
                        </div>
                        <div  ng-class="{'ng-wrapper': item.url == '' }" ng-switch="!!item.url" >
                            <div class="ng-wrapper" ng-switch-when="false" ng-bind-html="trustAsHtml([[item.noteData]])">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>



{% endblock %}


{% block modal %}
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true" style="width: 100%;top:30vh; ">
      <div class="modal-dialog " role="document" style="width: 50%;">
        <div class="modal-content" style="height: inherit; ">
          <div class="modal-header">
            <h4 style="margin-bottom: 15px; margin-left:10px; font-weight: bold" class="modal-title" id="deleteModalLabel">Delete Dashboard</h4>
          </div>
          <div class="modal-body" style="height: inherit;margin-top: 10px;margin-bottom: 30px">
            Are you sure you want to delete this Dashboard?
          </div>
          <div class="modal-footer">
              <a href="{% url 'delete_dashboard' pk=dashboard.id %}" id="confirm-dashboard-delete" type="button" class="btn btn-primary"  style=" background-color: rgb(160, 0, 0) !important ; margin-top: 0;" class="btn btn-md">Delete</a>
              <button type="button" class="btn btn-secondary" data-dismiss="modal"  style="float: right;">Cancel</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true" style="width: 100%;top:30vh; ">
      <div class="modal-dialog " role="document" style="width: 50%;">
        <div class="modal-content" style="height: inherit; ">
          <div class="modal-header">
            <h4 style="margin-bottom: 15px; margin-left:10px; font-weight: bold; text-align: center;" class="modal-title" id="deleteModalLabel">Share Dashboard</h4>
          </div>
          <div class="modal-body" style="height: inherit;margin-top: 10px;margin-bottom: 30px">
              <div class="form-group label-floating">
                    <label for="share_user_input" class="control-label">Enter a user's username or email to share the dashboard with him</label>
                    <input class="form-control full-width border-input" id="share_user_input" name="share_user_input" type="text"/>
              </div>
              <div class="checkbox">
                    <label class="form-check-label">
                        <input id="can_edit_input" name="can_edit_input" class="form-check-input" type="checkbox" value="">
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                        Can edit
                    </label>
              </div>
          </div>
          <div class="modal-footer" style="text-align: center;">
              <button id="confirm-dashboard-share" type="button" class="btn btn-success btn-md"  data-dismiss="modal" style="margin-top: 0; margin-bottom: 0;" >Share</button>
              <button type="button" class="btn btn-secondary btn-md" data-dismiss="modal"  style="">Cancel</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src={% static '/js/angular.js' %}></script>
    <script type="text/javascript" src={% static '/js/angular-gridster.min.js' %}></script>
    <script type="text/javascript" src={% static '/js/jquery.resize.js' %}></script>
    <script type="text/javascript" src={% static '/js/angular-sanitize.min.js' %}></script>

    <script type="text/javascript">
        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        $("#confirm-dashboard-share").click(function () {
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                url: '/access_control/share_access_to_resource/dashboard/',
                type: 'POST',
                data: {
                    resource_id: {{ dashboard.id }},
                    username_or_email: $("#share_user_input").val(),
                    can_edit: $('#can_edit_input:checkbox:checked').length > 0,
                    csrfmiddlewaretoken: csrftoken
                },
                success: function (result) {
                    console.log(result);
                    $.notify({
                          icon: "add_alert",
                          message: "Dashboard shared successfully!"

                    },{
                          type: 'success',
                          timer: 2000,
                          placement: {
                              from: 'top',
                              align: 'right'
                          }
                    });
                },
                error: function (result) {
                    console.log(result);
                    $.notify({
                          icon: "add_alert",
                          message: result.responseJSON.error

                    },{
                          type: 'danger',
                          timer: 2000,
                          placement: {
                              from: 'top',
                              align: 'right'
                          }
                    });
                }
            });
            $("#share_user_input").val('');
            $('#can_edit_input:checkbox').prop('checked', false);
        });
    </script>


<script type="text/javascript">
        var app = angular.module('myApp', ['gridster' , 'ngSanitize']);

        {# Angular and django conflict with same symbols {{}} replace angular with [[]] #}
        app.config(function ($interpolateProvider) {
            $interpolateProvider.startSymbol('[[');
            $interpolateProvider.endSymbol(']]');
        });

        {#Angular app setup#}
        app.controller('MainCtrl', function ($scope, $sce) {
            {#Declaring global variables used later#}
            $scope.counter = "0";
            $scope.tempInnerHtml="";
            {#$scope.iframeSource="";#}

            {#Angular gidster setup#}
            $scope.gridsterOpts = {
                {#Margins between the widgets#}
                margins: [20, 20],
                swapping: false,
                outerMargin: false,
                pushing: true,
                floating: true,
                columns: 6,
                defaultSizeX: 6,
	            defaultSizeY: 2,
                rowHeight: 200,
                draggable: {
                    enabled: false,
                    handle: '.iframeHeader',
                    start: function (e, ui, $widget) {
                        $('#scroll_down_area').show();
                        $('.wrap1').show();
                    },
                    stop: function (e, ui, $widget) {
                        $('#scroll_down_area').hide();
                        $('.wrap1').hide();
                    }
                },
                resizable: {
                    enabled: false,
                    handles: ['se', 'sw'],
                    start: function (e, ui, $widget) {
                        $('.wrap1').show();
                    }
                    ,
                    stop: function (e, ui, $widget) {
                        $('.wrap1').hide();
                    }
                },
            };

            $scope.trustAsHtml = function(string) {
                return $sce.trustAsHtml(string.toString());
            };

            {#List where widgets are kept with their data#}
            $scope.standardItems = [];

            {#Clear list of items#}
            $scope.clear = function () {
                $scope.standardItems = [];
            };

            {#Remove specific item from the list#}
            $scope.removeWidget = function (item) {
                var index = $scope.standardItems.indexOf(item);
                $scope.standardItems.splice(index, 1);
            };


            $('#edit_btn').click(function (e) {
                var thisBoard = {{ pk }};
                window.location = "/dashboards/edit/" + thisBoard;
            }

        )

            {#Initializing widgets from database and setting content#}
            var init = function (){
{#                 {% for order, url in dashboard.viz_components.items %}#}
                var viz_components = JSON.parse('{{ dashboard_json |escapejs}}');
                for (var key in viz_components) {
                    if (viz_components.hasOwnProperty(key)) {
                        console.log(key + " -> " + viz_components[key]);
                        var count;
                        $scope.counter++
                        var array = viz_components[key];
{#                        for (count=0; count< array.length;count++){#}
{#                            console.log(String(count)+'. '+String(array[count]));#}
{#                        }#}
                        $scope.standardItems.push({
                        sizeX: parseInt(array[1]),
                        sizeY: parseInt(array[2]),
                        row: parseInt(array[3]),
                        col: parseInt(array[4]),
                        url:array[0] ,
                        noteData: array[6] ,
                        title:array[5],
                        id: array[7]
                    });

                    }
                }

            $scope.gridsterOpts.floating = true;
            };
{#            var init = function (){#}
{#                 {% for order, url in dashboard.viz_components.items %}#}
{#                     var tempinfo= "{{ url }}";#}
{#                     tempinfo = tempinfo.replace(/u&#39;/g, '"');#}
{#                     tempinfo = tempinfo.replace(/&#39;/g, '"');#}
{#                     tempinfo=tempinfo.replace(/u&quot;/,'"');#}
{#                     tempinfo=tempinfo.replace(/&quot;/,'"');#}
{#                     tempinfo=tempinfo.replace("[","");#}
{#                     tempinfo=tempinfo.replace("]","");#}
{#                     tempinfo = tempinfo.slice(1,-1);#}
{#                     var nth= 13;#}
{#                     var toslice = 0;#}
{#                     for(var i=0 ; i<tempinfo.length ;i++){#}
{#                         if(tempinfo.charAt(i) == '"'){#}
{#                             if(!--nth){#}
{#                                 toslice = i;#}
{#                             }#}
{#                         }#}
{#                     }#}
{##}
{#                     var info = tempinfo.split("," , 6);#}
{##}
{#                     tempinfo= tempinfo.slice(toslice + 1);#}
{##}
{##}
{#                    $scope.counter++;#}
{##}
{#                    var tempid="widget" + $scope.counter;#}
                    {#$scope.iframeSource = info[0];#}
{#                     var noteDataEncoded = tempinfo;#}
{#                     var noteDataDecoded= $('<textarea/>').html(noteDataEncoded).text();#}
                     {#noteDataDecoded= noteDataDecoded.substr(1);#}
                     {#if(noteDataDecoded.charAt(0)=="u"){#}
                     {#    if(noteDataDecoded.charAt(1)=="\""){#}
                     {#        noteDataDecoded= noteDataDecoded.substr(2);#}
                     {#    }#}
                     {# }#}
{#                     noteDataDecoded= noteDataDecoded.slice(0 ,-1);#}
{##}
                                          {#alert(noteDataDecoded);#}
{##}
                     {#noteDataDecode=noteDataDecode.encode("utf-8");#}
{##}
                     {#alert(info[0]);#}
{#                     for(var i=0 ; i < 6; i++)#}
{#                     {#}
{#                         if(i!= 0)#}
{#                            info[i] = info[i].slice(2,-1);#}
{#                         else#}
{#                             info[i] = info[i].slice(1,-1);#}
{#                     }#}
                     {#alert(info[0]);#}
{##}
{#                    $scope.standardItems.push({sizeX:info[1], sizeY:info[2],row:info[3],col:info[4],url:info[0] ,noteData: noteDataDecoded ,title:info[5]});#}
{#                {% endfor %}#}
{#            };#}

            init();
        });



{#        $("iframe").on( "load", function(){#}
{#            $(this).siblings(".loadingFrame").css( "display", "none" );#}
{#        });#}

        function hideGif( elem, event ){
            $(elem).siblings(".loadingFrame").css( "display", "none" );
        }
</script>

{% endblock %}
