.modal-backdrop{
    z-index: 0 !important;
}

#select-data-modal .modal-dialog{
    margin: 5vh 2vw;
    padding: 0;
    width: 95vw;
    max-width: 96vw;
    height: 90vh;
    max-height: 90vh;
    overflow: auto;
}

#select-data-modal .modal-content {
    height: 100%;
    padding: 0% 1%;
}

#select-data-modal .modal-body{
    padding: 1% 0%;
    margin: 0;
    height: 86%;
}

/*#select-data-modal .modal-body .col-sm-2, #select-data-modal .modal-body .col-sm-6 #select-data-modal .modal-body .col-sm-4 {*/
    /*padding: 0;*/
/*}*/

#select-data-modal .modal-header{
    padding: 0;
    margin: 0;
    text-align: center;
    height: 7%;
    border-bottom: ridge #ffffff96;
}

#select-data-modal .modal-header .modal-title {
    font-size: 4vh;
}

#select-data-modal .modal-header button.close {
    font-size: 15pt;
    margin-top: 0.5%;
}

#select-data-modal .modal-footer{
    padding: 0;
    margin: 0;
    height: 7%;
}

#select-data-modal .modal-body h3{
    text-align: center;
    font-size: 3vh;
    margin: 0 0 3% 0;
    padding:0;
}

/*#select-data-modal .modal-body #dataset-filter-section select{*/
    /*width: 100%;*/
/*}*/

#select-data-modal .modal-body #dataset-list-section {
    border-right: ridge #ffffffb5;
    height: 100%;
}

#select-data-modal .modal-body #dataset-filter-section {
    height: 100%;
    background-color: #206290;
    box-shadow: 2px 2px 14px 2px #b9b9b9;
}

#select-data-modal .modal-body #dataset-filter-section h3{
    color: white;
}

#select-data-modal .modal-body #dataset-filter-section label{
    color: white;
}

#select-data-modal .modal-body #dataset-filter-section input{
    color: white;
}

#select-data-modal .form-group.is-focused .form-control {
    outline: none;
    background-image: linear-gradient(#fffcfe, #fef7ff), linear-gradient(rgba(210, 210, 210, 0.61), rgba(210, 210, 210, 0.6));
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    transition-duration: 0.3s;
}

#select-data-modal .form-group {
    margin: 10px 0 0 0;
}

#select-data-modal .form-group label {
    font-size: 14px;
}

#select-data-modal .checkbox label {
    font-size: 14px;
}

#select-data-modal .checkbox .checkbox-material {
    padding-left: 0;
}

#select-data-modal .checkbox input[type=checkbox]:not(:checked) + .checkbox-material .check {
    background: white;
}

#select-data-modal .modal-body #dataset-info-section {
    height: 100%;
    background-color: #ececec;
}

#select-data-modal .modal-body .row{
    height: 100%;
}

#select-data-modal table{
    table-layout: fixed;
    width: 100%;
}

.variable-title{
    word-wrap:break-word;
}

.dataset-title{
    cursor: pointer;
}



#data-filter-search {
    width: 100%;
}

.dataset-info {
    font-weight: 600;
}

.dataset-metadata {
    font-weight: 300;
}

.dataset-metadata-btn {
    color: #c5c5c5;
    cursor: pointer;
}

.dataset-name {
    color: #6f6f6f;
    box-shadow: 0 1px 0px #223b61;
    font-weight: bold;
    font-family: sans-serif;
    padding: 10px 10px;
}

.dataset-section {
    margin-bottom: 10px;
}

.variable-section {
    margin: 0 0 0 20px;
    padding: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    height: 40px;
    /* min-width: 100%; */
}

.variable-section:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

.variable-section:hover,
.variable-section.selected {
    background: #e9f0ff;
}

.variable-section.selected {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.variable-section.selected:first-of-type {
    border-top: 1px solid #eee;
}

.variable-section.selected:last-of-type {
    border-bottom: 1px solid #eee;
}

.variable-section .variable-title {
    color: #999;
    /* width: 210px; */
    width: 35%;
}

.selection-body {
    /*height: 100%;*/
    overflow-y: auto;
}

.selection-confirm {
    height: 64px;
}

.selection-confirm > div {
    border-top: 1px solid #cccc;
    margin-top: 20px;
    padding-top: 10px;
}

.selection-confirm label {
    width: 70px;
}



.dataset1_info_div {
    /*height: 100%;*/
    overflow-y: auto;
}