{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}
{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-xs-6 col-xs-push-3 standing-out text-left">
            <div class="bg-color--blue accountheader">
                <img id="logowhite" class="" src="{% static "img/logoaccount.png" %}" alt="BigData Ocean">
            </div>

            <h3 class="o-blue">{% trans "Confirm E-mail Address" %}</h3>

            {% if confirmation %}

                {% user_display confirmation.email_address.user as user_display %}

                <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <b><a href="mailto:{{ email }}">{{ email }}</a></b> is an e-mail address for user <b>{{ user_display }}</b>.{% endblocktrans %}</p>

                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                    <button  class="btn btn-primary" type="submit">{% trans 'Confirm' %}</button>
                </form>

            {% else %}

                {% url 'account_email' as email_url %}

                <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

        {% endif %}
        </div>
    </div>

{% endblock %}

