{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-xs-6 col-xs-push-3 standing-out text-left">
            <div class="bg-color--blue accountheader">
                <img id="logowhite" class="" src="{% static "img/logoaccount.png" %}" alt="BigData Ocean">
            </div>
            <h2>{% trans "Password Changed" %}</h2>
            <p>{% trans 'Your password is now changed.' %}</p>
            <b><a href="/accounts/login/" class="o-blue">Return to Log-In Page</a></b>
        </div>
    </div>
{% endblock %}


