{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-xs-6 col-xs-push-3 standing-out text-left">
            <div class="bg-color--blue accountheader">
                <img id="logowhite" class="" src="{% static "img/logoaccount.png" %}" alt="BigData Ocean">
            </div>

            <h3 class="o-blue">{% trans "Password Reset" %}</h3>

            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
    
            <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
            <b><a href="/accounts/login/" class="o-blue">Return to Log-In Page</a></b>
        </div>
    </div>
{% endblock %}


