{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <div class="col-xs-6 col-xs-push-3 standing-out text-left">
            <div class="bg-color--blue accountheader">
                <img id="logowhite" class="" src="{% static "img/logoaccount.png" %}" alt="BigData Ocean">
            </div>
            <h3 class="o-blue">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="row">
                                <div class="{% if not full_row %}col-lg-6 {% endif %}col-xs-12 {% if centered %}col-lg-push-3{% endif %}">
                                    <div class="form-group label-floating{% if not field.value %} is-empty{% endif %}">
                                        <label class="control-label">
                                            {{ field.label }}
                                        </label>
                                    {{ field }}
                                    {% if field.errors %}
                                        {% for err in field.errors %}
                                            <div class="o-orange padding-bottom-2">
                                                <i class="fa fa-exclamation-triangle"></i>
                                                {{ err }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <button  style="display: inline-block"  id="change_pass_button_id" class="btn btn-primary" type="submit" name="action">{% trans 'Change Password' %}</button>
{#                        <span id="tip_text" hidden style="display: inline-block; font-size: 13px;margin-left: 10px; color:#f44336">* Please insert the same password in both fields.</span>#}
                    </form>
                {% else %}
                    <p>{% trans 'Your password is now changed.' %}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
{#    $('#id_password1').on('input', function() {#}
{#        if ($(this).val() === $('#id_password2').val() && $(this).val()!=="" && $('#id_password2').val()!==""){#}
{#            $("#change_pass_button_id").prop('disabled',false);#}
{#            $("#tip_text").hide();#}
{#        }#}
{#        else{#}
{#            $("#change_pass_button_id").prop('disabled',true);#}
{#            $("#tip_text").show();#}
{#        }#}
{#    });#}
{#    $('#id_password2').on('input', function() {#}
{#        if ($(this).val() === $('#id_password1').val()&& $(this).val()!=="" && $('#id_password1').val()!==""){#}
{#            $("#change_pass_button_id").prop('disabled',false);#}
{#            $("#tip_text").hide();#}
{#        }#}
{#         else{#}
{#            $("#change_pass_button_id").prop('disabled',true);#}
{#            $("#tip_text").show();#}
{#        }#}
{#    });#}
{#    if ($('#id_password1').val()!==$('#id_password1'))#}
</script>
{% endblock %}