{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-xs-6 col-xs-push-3 standing-out text-left">
            <div class="bg-color--blue accountheader">
                <img id="logowhite" class="" src="{% static "img/logoaccount.png" %}" alt="BigData Ocean">
            </div>
            <h3 class="o-blue">{% trans "Password Reset" %}</h3>
            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>{% trans "Forgotten your password?" %}</p>
            <p>{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

            <div>
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                     <div class="row">
                        <div class="{% if not full_row %}col-lg-6 {% endif %}col-xs-12 {% if centered %}col-lg-push-3{% endif %}">
                            <div class="form-group label-floating{% if not field.value %} is-empty{% endif %}">
                                <label class="control-label">
                                    {{ field.label }}
                                </label>
                                {% csrf_token %}
                                {{ form.as_p }}
                            </div>
                        </div>
                     </div>

                    <button class="btn btn-primary"  type="submit">{% trans 'Reset Password' %}</button>
                </form>
            </div>

            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
       </div>
    </div>

{% endblock %}




