{% extends "base.html" %}

{% load i18n %}

{% load leaflet_tags %}

{% block bodyclass %}overview{% endblock %}
{% block analysismenu %}active{% endblock %}

{% load static from staticfiles %}

{% block css %}

    {% leaflet_css %}
    <link href="{% static "css/leaflet-areaselect.css" %}" rel="stylesheet">
    <link href="{% static "vendor/Semantic-UI-CSS-master/semantic.css" %}" rel="stylesheet">

    <link href="{% static "query_designer/css/toolbox.css" %}" rel="stylesheet">
    <link href="{% static "query_designer/css/data-modal.css" %}" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <link href="{% static 'query_designer/js/handsontable/handsontable.full.min.css' %}" rel="stylesheet">

    <link href="{% static 'query_designer/css/formulas.css' %}" rel="stylesheet">

    <!-- jPList CSS -->
    <link rel="stylesheet" href="{% static 'css/jplist.core.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jplist.textbox-filter.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jplist.filter-toggle-bundle.min.css' %}" />

    <link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
    <link href="{% static "query_designer/css/icon_tooltip_css.css" %}" rel="stylesheet">


    <style>
        #createPreBuildLink{
            float: right;
            margin-top: -13px;
            padding: 6px 12px 6px;
            border-radius: 3px;
            color: white;
            background-color: #2172ac;
        }

        #createPreBuildLink:hover{
            cursor: pointer;
            box-shadow: 1px 1px 10px grey;
        }

        .modal-dialog{
            margin: 0 10% !important;
            width: 80% !important;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- begin PAGE TITLE AREA -->
    <!-- Use this section for each page's title and breadcrumb layout. In this example a date range picker is included within the breadcrumb. -->

    <div class="row" style="display: none;">
        <form class="form" id="config-viz-form"></form>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="text-center">
                    <h1 class="o-blue" style="margin: 0; font-size: 30pt">Query Designer</h1>
                    <h5 style="display: inline-block; margin: 0;">Create queries and explore the data available on BigDataOcean.</h5>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div id="error_message_alert" class="alert alert-danger alert-dismissible row" >
{#        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>#}
        <a class="close" onclick="$('.alert').hide()">&times;</a>
        <strong>Query Failed!</strong><span id="error_message_span"></span>
    </div>
    <!-- /.row -->
    <!-- end PAGE TITLE AREA -->

    <ul id="chart-picker" class="nav nav-tabs">

    </ul>

    <div id="chart-file-controls">
        <div id="new-query" class="chart-file-control" title="Create new chart (Ctrl+Alt+N)"><i class="fa fa-plus-circle"></i> {% trans 'New' %}</div>
{#        <div id="chart-open" class="chart-file-control" title="Open existing chart (Ctrl+O)"><i class="fa fa-file-o"></i> {% trans 'Open' %}</div>#}
        <div id="chart-save" class="chart-file-control" title="Save chart (Ctrl+S)"><i class="fa fa-save"></i> {% trans 'Save' %}</div>
{#        <button id="run-query-btn" class="btn btn-sm btn-primary after-data-selection"> Run </button>#}

{#        <div id="chart-status-msg" class="pull-right"></div>#}
        <div id="chart-name" class="pull-right hidden">
            {% trans 'Query name' %}: <input type="text" name="chart-name" />
        </div>
        <input type="number" class="hidden" id="offset_input" value="0" />
    </div>

    <div class="row" id="chart-container" >
        {% csrf_token %}
        <div class="col-lg-12 col-sm-12" style="padding-left:0">
            <div>
                <div class="row">
                    <div class="col-md-3" id="chart-sidebar">

                        <div id="chart-control-list">
                            <div class="row btn-container" style="margin-left:0; padding: 0;">
                                <div class="add-value-field btn btn-default btn-sm pull-left bg-color--blue" data-toggle="modal" data-target="#select-data-modal" style="">
                                    <i class="fa fa-plus"></i> Select data
                                </div>
                                <div id="run-query-btn" class="btn btn-sm btn-default pull-right bg-color--blue after-data-selection" style="background: #a00000 !important;">
                                    <i class="fa fa-play-circle"></i> Run
                                </div>
                            </div>
                            <div class="chart-control"></div>
                            <div class="row after-data-selection" id="query-controls-container" style="padding: 0; margin-left: 0; margin-top: 20px;">
                                <div class="fieldset">
                                    <div class="col-xs-3 col-prefix" style="padding: 0">
                                        Group
                                    </div>
                                    <div class="col-xs-8 col-main">
                                        <select id="id_category" name="category"  multiple="multiple"></select>
                                    </div>
                                    <div class="col-xs-1 col-suffix">
                                    </div>
                                </div>
                            </div>
                            <div class="row after-data-selection" id="query-controls-container" style="padding: 0; margin-left: 0; margin-top: 20px;">
                                <div class="fieldset">
                                    <div class="col-xs-3 col-prefix" style="padding: 0">
                                        Sort
                                    </div>
                                    <div class="col-xs-8 col-main">
                                        <select id="id_order" name="orderby"  multiple="multiple"></select>
                                    </div>
                                    <div class="col-xs-1 col-suffix">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="resolution" class="clearfix after-data-selection">
                            {% include "query_designer/utils/resolution_editor.html" %}
                        </div>


                        <div class="clearfix after-data-selection">
                            <div class="btn-edit-filters pull-left btn btn-sm btn-primary filter-edit-open" >
                                <i class="fa fa-cog"></i> {% trans 'Data filters' %} (<span class="filter-counter">0</span>)
                            </div>
                        </div>


                        <div id="bounds" class="text-center " style="margin-top: 0px;">
                            {% include "query_designer/utils/bounds-modals.html" %}
                        </div>

                        <div id="chart-filters" class="hidden">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="chart-top-menu">
                            <ul id="chart-content-tabs" class="nav nav-pills" data-tabs="tabs">
                                <li class="active"><a href="#dataDiv" data-toggle="tab">{% trans 'Data' %}</a></li>
                                <li><a href="#chart" data-toggle="tab">{% trans 'Chart' %}</a></li>
                            </ul>
                        </div>
                        <div id="chart-tab-content" class="tab-content">
                            <div class="tab-pane toggle-chart" id="chart">
                                <div class="no-data-message">{% trans 'No data available' %}</div>

                                <div id="chartdiv" class="chartdiv" style="display: none;">
                                    {% include "query_designer/utils/chart_editor.html" %}
                                </div>
                            </div>
                            <div class="tab-pane active" id="dataDiv">
                                <div id="datatable" style="position: relative;">
                                    <div class="no-data-message">{% trans 'No data available' %}</div>
                                    <div class="outputLoadImg" style="display: none"><img src="http://assets.motherjones.com/interactives/projects/features/koch-network/shell19/img/loading.gif"/></div>
                                    <table id="graph-data-table" class="table">
                                        <thead></thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div id="paginationDiv" page="0" style="display: none;">
                                    <button id="dataPrevBtn" class="btn btn-default btn-sm">Previous</button>
                                    <button id="dataNextBtn" class="btn btn-default btn-sm">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of row -->

    {% with modal_id="chart-modal" %}
        {% include "query_designer/utils/common-modal.html" %}
    {% endwith  %}

    {% include "query_designer/utils/filters-modal.html" %}

    {% include "query_designer/utils/select-data-modal.html" %}

    {% with modal_id="formulas-modal" %}
        {% include "query_designer/utils/common-modal.html" %}
    {% endwith  %}
{% endblock %}

{% block modal %}
    <div id="myModal" class="modal fade row" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">

                    {# LOAD ALL THE FORMS FOR EVERY VISUALIZATION AND KEEP IT HIDDEN #}
                    {% include "dashboard_builder/config-visualization-form-fields-auto-load.html" %}
                    <div id="query-variables-select-container" hidden></div>
                    <div id="query-dimensions-select-container" hidden ></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}

    {% leaflet_js %}

{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>#}
{#    <script src="{% static 'query_designer/js/handsontable/handsontable.full.min.js' %}"></script>#}

{#    <link href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">#}
{#    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>#}

    <script src="{% static "query_designer/js/simplified/toolbox2.js" %}"></script>

    <script src="{% static "query_designer/js/simplified/data-modal.js" %}"></script>

    <script src="{% static "query_designer/js/simplified/interactions.js" %}"></script>

{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>#}

    <script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>

{#    <script src="{% static "js/leaflet-areaselect.js" %}"></script>#}
    <script src="{% static "query_designer/js/simplified/area-select/simple-shape.js" %}"></script>
    <script src="{% static "query_designer/js/simplified/area-select/rectangle.js" %}"></script>
    <script src="{% static "query_designer/js/simplified/spatio_temporal_filters.js" %}"></script>
    <script src="{% static "query_designer/js/simplified/chart_editor.js" %}"></script>
    <script src="{% static "vendor/Semantic-UI-CSS-master/semantic.js" %}"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
    <script src="{% static "/js/jplist.core.min.js" %}"></script>
    <script src="{% static "/js/jplist.textbox-filter.min.js" %}"></script>
    <script src="{% static "/js/jplist.filter-toggle-bundle.min.js" %}"></script>
    <script src="{% static "/js/jplist.filter-dropdown-bundle.min.js" %}"></script>

    <script>
        $(function() {
            window.QueryToolbox.addChart();
        });


        $(function() {
            $(".add-value-field").click();
        });



    </script>

    <script>
        $('document').ready(function(){

           //check all jPList javascript options here
           $('#dataset-all-section').jplist({
              itemsBox: '.selection-body',
              itemPath: '.dataset-section',
              panelPath: '#dataset-filter-section',
              noResults: '.jplist-no-results'
           });

        });
    </script>

    <script type="text/javascript">
        $('#createPreBuildLink').click(function (e) {
            if($('#viz_container > iframe').length) {
                var tempLink = $('#viz_container > iframe');
                var helperVar = (tempLink[0].contentDocument || tempLink[0].contentWindow);
                tempLink = helperVar.URL;
                var encodedUrl = encodeURIComponent(tempLink);
                window.location = "/dashboards/create?toCreate=" + encodedUrl;
            }
        });

        $('#createPreBuildLinkExisting').click(function (e) {
            if($('#viz_container > iframe').length) {
                var tempLink = $('#viz_container > iframe');
                var helperVar = (tempLink[0].contentDocument || tempLink[0].contentWindow);
                tempLink = helperVar.URL;
                var encodedUrl = encodeURIComponent(tempLink);
                window.location = "/dashboards/create?toCreate=" + encodedUrl;
            }
        });
    </script>
{% endblock %}