{% extends "base.html" %}

{% load i18n %}

{% load leaflet_tags %}

{% block bodyclass %}overview{% endblock %}
{% block analysismenu %}active{% endblock %}

{% load static from staticfiles %}

{% block css %}

    {% leaflet_css %}
    <link href="{% static "css/leaflet-areaselect.css" %}" rel="stylesheet">

    <link href="{% static "query_designer/css/toolbox.css" %}" rel="stylesheet">
    <link href="{% static "query_designer/css/data-modal.css" %}" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <link href="{% static 'query_designer/js/handsontable/handsontable.full.min.css' %}" rel="stylesheet">

    <link href="{% static 'query_designer/css/formulas.css' %}" rel="stylesheet">


    <link href="{% static "css/bootstrap-datetimepicker.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">

    <style>
        #createPreBuildLink{
            float: right;
            margin-top: -13px;
            padding: 6px 12px 6px;
            border-radius: 3px;
            color: white;
            background-color: #2172ac;
        }

        #createPreBuildLink:hover{
            cursor: pointer;
            box-shadow: 1px 1px 10px grey;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- begin PAGE TITLE AREA -->
    <!-- Use this section for each page's title and breadcrumb layout. In this example a date range picker is included within the breadcrumb. -->

    <div class="row" style="display: none;">
        <form class="form" id="config-viz-form"></form>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="text-center">
                    <h1 class="o-blue" style="margin: 0; font-size: 30pt">Query Designer</h1>
                    <h5 style="display: inline-block; margin: 0;">Create queries and explore the data available on BigDataOcean.</h5>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div id="error_message_alert" class="alert alert-danger alert-dismissible row" >
{#        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>#}
        <a class="close" onclick="$('.alert').hide()">&times;</a>
        <strong>Query Failed!</strong><span id="error_message_span"></span>
    </div>
    <!-- /.row -->
    <!-- end PAGE TITLE AREA -->

    <ul id="chart-picker" class="nav nav-tabs">

    </ul>

    <div id="chart-file-controls">
        <div id="add-chart" class="chart-file-control" title="Create new chart (Ctrl+Alt+N)"><i class="fa fa-plus-circle"></i> {% trans 'New' %}</div>
{#        <div id="chart-open" class="chart-file-control" title="Open existing chart (Ctrl+O)"><i class="fa fa-file-o"></i> {% trans 'Open' %}</div>#}
        <div id="chart-save" class="chart-file-control" title="Save chart (Ctrl+S)"><i class="fa fa-save"></i> {% trans 'Save' %}</div>
{#        <button id="run-query-btn" class="btn btn-sm btn-primary after-data-selection"> Run </button>#}

{#        <div id="chart-status-msg" class="pull-right"></div>#}
        <div id="chart-name" class="pull-right hidden">
            {% trans 'Query name' %}: <input type="text" name="chart-name" />
        </div>
        <div class="chart-file-control pull-right formula-editor-open" title="Define custom metrics"><i class="fa fa-cog"></i> {% trans 'Define custom metrics' %}</div>
        <div class="pull-right" id="limit_container">
            {% trans 'Limit results' %}:
            <select  style="border: 2px solid grey; border-radius: 1em;" id="limit" name="limit">
                <option value="none" >- None -</option>
                <option value="100" selected>100</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
            </select>
        </div>
        <input type="number" class="hidden" id="offset_input" value="0" />
    </div>

    <div class="row" id="chart-container" >
        {% csrf_token %}
        <div class="col-lg-12 col-sm-12" style="padding-left:0">
            <div>
                <div class="row">
                    <div class="col-md-3" id="chart-sidebar">

                        <div id="chart-control-list">
                        </div>

                        <div id="resolution" class="clearfix after-data-selection">
                            {% include "query_designer/utils/resolution_editor.html" %}
                        </div>


                        <div class="clearfix after-data-selection">
{#                            <h4 class="pull-left">{% trans 'Query Data' %}</h4>#}
                            <div class="btn-edit-filters pull-left btn btn-sm btn-primary filter-edit-open" style="display: none;">
                                <i class="fa fa-cog"></i> {% trans 'Data filters' %} (<span class="filter-counter">0</span>)
                            </div>
                        </div>


                        <select id="selected_dimensions" style="display: none"></select>
{#                        <div id="fetch" style="float: right;"></div>#}

                        <div id="bounds" class="text-center " style="margin-top: 0px;">
                            {% include "query_designer/utils/bounds-modals.html" %}
                        </div>

                        <div id="chart-filters" style="display: none;">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="chart-top-menu">
                            <ul id="chart-content-tabs" class="nav nav-pills" data-tabs="tabs">
                                <li class="active"><a href="#dataDiv" data-toggle="tab">{% trans 'Data' %}</a></li>
                                <li><a href="#chart" data-toggle="tab">{% trans 'Chart' %}</a></li>
                            </ul>

                        </div>
                        <div id="chart-tab-content" class="tab-content">
                            <div class="tab-pane toggle-chart" id="chart">
                                <div class="no-data-message">{% trans 'No data available' %}</div>

                                <div id="chartdiv" class="chartdiv" style="display: none;">
                                    {% include "query_designer/utils/chart_editor.html" %}
                                </div>
                            </div>
                            <div class="tab-pane active" id="dataDiv">
                                <div id="datatable" style="position: relative;">
                                    <div class="no-data-message">{% trans 'No data available' %}</div>
                                    <div class="outputLoadImg" style="display: none"><img src="http://assets.motherjones.com/interactives/projects/features/koch-network/shell19/img/loading.gif"/></div>
                                    <table id="graph-data-table" class="table">
                                        <thead></thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div id="paginationDiv" style="display: none;">
                                    <button id="dataPrevBtn" class="btn btn-default btn-sm">Previous</button>
                                    <button id="dataNextBtn" class="btn btn-default btn-sm">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of row -->

    {% with modal_id="chart-modal" %}
        {% include "query_designer/utils/common-modal.html" %}
    {% endwith  %}

    {% include "query_designer/utils/filters-modal.html" %}

    {% include "query_designer/utils/select-data-modal.html" %}

    {% with modal_id="formulas-modal" %}
        {% include "query_designer/utils/common-modal.html" %}
    {% endwith  %}
{% endblock %}

{% block modal %}

    <div id="myModal" class="modal fade row" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" id="viz_config" style="display: none">
                        <ul class="list-group collapse in col-sm-2" style="width: 15%">
                            {% for viz in available_viz %}
                                <li class="list-group-item viz_item" data-viz-type="{{ viz.type }}"
                                    data-viz-id="{{ viz.id }}">
                                    <i class="{{ viz.icon }}" style="margin-right:5px"></i>{{ viz.title }}
                                    <span id="selected_viz_span" class="glyphicon glyphicon-triangle-left"
                                          style="position: absolute;right: 5px;top:13.5px; display: none;"></span>
                                </li>
                            {% endfor %}

                        </ul>
                        <div id="viz_container" class="col-sm-8" style="width: 85%">
                            <div class="loadingFrame">
                            </div>
                        </div>
                    </div>
                    {#                        LOAD ALL THE FORMS FOR EVERY VISUALIZATION AND KEEP IT HIDDEN#}
                    {% include "dashboard_builder/config-visualization-form-fields-auto-load.html" %}

                    <div id="query-variables-select-container" style="display: none;">
                        <div class='current_query_select_options' id={{ temp_queries_count }}>
{#                            <option></option>#}
{#                            {% for el in query.document.from %}#}
{#                                {% for var in el.select %}#}
{#                                    <option value="{{ var.name }}">{{ var.title }}</option>#}
{#                                {% endfor %}#}
{#                            {% endfor %}#}
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}

    {% leaflet_js %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="{% static 'query_designer/js/handsontable/handsontable.full.min.js' %}"></script>

    <link href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <script src="{% static "query_designer/js/simplified/toolbox.js" %}"></script>

    <script src="{% static "query_designer/js/simplified/data-modal.js" %}"></script>

    <script src="{% static "query_designer/js/simplified/formula-editor.js" %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

    <script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>

    <script src="{% static "js/leaflet-areaselect.js" %}"></script>

    <script src="{% static "query_designer/js/simplified/selbound.js" %}"></script>
    <script src="{% static "query_designer/js/simplified/chart_editor.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>

    {% if auto_open %}
        <script>
            $(function() {
                window.QueryToolbox.load({{ auto_open }});
            });
        </script>
    {% endif %}

    {% if auto_create or True %}
        <script>
            $(function() {
                window.QueryToolbox.addChart();
            });
        </script>
    {% endif %}


    <script type="text/javascript">
        $('#createPreBuildLink').click(function (e) {
                if($('#viz_container > iframe').length) {
                    var tempLink = $('#viz_container > iframe');
                    var helperVar = (tempLink[0].contentDocument || tempLink[0].contentWindow);
                    tempLink = helperVar.URL;
                    var encodedUrl = encodeURIComponent(tempLink);
                    window.location = "/dashboards/create?toCreate=" + encodedUrl;
                }
            }

        );

        $('#createPreBuildLinkExisting').click(function (e) {
                if($('#viz_container > iframe').length) {
                    var tempLink = $('#viz_container > iframe');
                    var helperVar = (tempLink[0].contentDocument || tempLink[0].contentWindow);
                    tempLink = helperVar.URL;
                    var encodedUrl = encodeURIComponent(tempLink);
                    window.location = "/dashboards/create?toCreate=" + encodedUrl;
                }
            }

        )
    </script>
{% endblock %}