{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <link href="{% static 'css/home.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

    <div class="row">
        <div class="text-center">
            <h1 class="o-blue">BIG DATA OCEAN</h1>
            <h5>Welcome to the greatest marketplace for maritime data and insights</h5>
            <form class="home-search-form" method="GET" action="{% url 'search' %}">
                <div class="form-group  is-empty">
                    <input type="text" class="form-control" placeholder="Search datasets, analytics, reports..." name="q" autocomplete="off">
                    <span class="material-input"></span>
                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i><div class="ripple-container"></div>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <h4 class="text-center o-blue" style="margin: 50px 0; font-size: 1.65em;">Take a look at our most popular cases and get inspired</h4>
        {% for service in services %}
            {% include 'services/tile.html' %}
        {% endfor %}
    </div>

{% endblock %}

{% block js %}
    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
	<script src="{% static 'js/demo.js' %}"></script>

    <script type="text/javascript">
    	$(document).ready(function(){

			// Javascript method's body can be found in js/demos.js
        	demo.initDashboardPageCharts();

    	});
	</script>
{% endblock %}