{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'css/main.css' %}?bdo_version={{ settings.BDO_VERSION }}" rel="stylesheet" />
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-9">
            <h1 class="o-blue" style="font-size: 2.5em;">Search results for `{{ q }}`</h1>

            {% for result in results %}
                {% with service=result %}
                    {% include 'services/line.html' %}
                {% endwith %}
            {% endfor %}
        </div>
        <div class="col-xs-3">
            Facets go here
        </div>
    </div>


{% endblock %}

{% block js %}

{% endblock %}