<div class="app-selector">
     <select name="app_selector" class="ui-dropdown" id="select_app">
        <option value="">Select Application</option>
        <option value="Wave Resource Assessment">Wave Resource Assessment</option>
        <option value="Wave Forecast">Wave Forecast</option>
        <option value="Data Visualisation">Data Visualisation</option>
    </select>
</div>


<div class="spatial-selection">

    <div class="row" style="margin: 25px;">
{#    <div class="col-sm-12" style="margin: 0px;">#}
        <div class='col-sm-4' style="padding: 0px; font-size: 10pt;">
            <p>Latitude, from:</p>
        </div>
        <div class='col-sm-3' style="padding: 0px;">
            <input class="form-control" id="lat_min" type='number' step="0.01" min="-90" max="90" style="width: 100%; margin: 0; padding: 3px; height: 100%;" />
        </div>
        <div class='col-sm-1' style="padding: 0px; font-size: 10pt;">
            <p>to:</p>
        </div>
        <div class='col-sm-3' style="padding: 0px;">
            <input class="form-control" id="lat_max" type='number'  step="0.01" min="-90" max="90" style="width: 100%; margin: 0; padding: 3px; height: 100%;" />
        </div>
{#    </div>#}
{#    <div class="col-sm-12" style="margin: 0px;">#}
        <div class='col-sm-4' style="padding: 0px; font-size: 10pt;">
            <p>Longitude, from:</p>
        </div>
        <div class='col-sm-3' style="padding: 0px;">
            <input class="form-control" id="lon_min" type='number'  step="0.01" min="-180" max="180" style="width: 100%; margin: 0; padding: 3px; height: 100%;" />
        </div>
        <div class='col-sm-1' style="padding: 0px; font-size: 10pt;">
            <p>to:</p>
        </div>
        <div class='col-sm-3' style="padding: 0px;">
            <input class="form-control" id="lon_max" type='number' step="0.01" min="-180" max="180" style="width: 100%; margin: 0; padding: 3px; height: 100%;" />
        </div>
{#    </div>#}
    <input hidden type="number" id="areaSelectWidth" value="" >
    <input hidden type="number" id="areaSelectHeight" value="">

    <p id="mapbounds" style="display: inline-block; margin: 5px; line-height: 1; text-align: left;"></p>
    </div>
</div>


<div class="dataset-selector">
    <select name="gender" class="ui dropdown" id="select_dataset">
        <option value="">Availabla Datasets</option>
        <option value="Copernicus 1">Copernicus 1 - Numerical Model</option>
        <option value="Maretec 1">Maretec 1 - Numerical Model</option>
        <option value="Buoy XPTO">Buoy XPTO - in - situ measurements</option>
    </select>
</div>


<div class="coverage-date-filters">
{#    <div style="text-align: left;"><h4 style="margin: 0;">Filter by temporal coverage</h4></div>#}
    <div class="row" style="margin-top:15px">
        <div class="coverage-date-filters-icon">
        </div>
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='startdatepicker'>
                    <label>Start Date:</label>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='enddatepicker'>
                    <label>End Date:</label>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="results-tabs">

</div>