
<fieldset name="{{ order }}+++fieldset">
    <input id="{{ order }}+++anal_id" type="hidden" class="form-control full-width variable-select" name="anal_id"  value="{{ anal_id }}">

    {% for argument in info.arguments %}
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group label-floating is-empty">
                    {% if argument.type != 'QUERY' %}
                        <label class="control-label">{{ argument.title }}</label>
                    {% endif %}
                    {% if argument.type == 'SPATIAL_COV' %}
                         <div id="newmap">
                            <input type="text" id="min_lat" style="display: none;">
                            <input type="text" id="max_lat" style="display: none;">
                            <input type="text" id="min_lon" style="display: none;">
                            <input type="text" id="max_lon" style="display: none;">
                         </div>
                    {% elif argument.type == 'QUERY' %}
                    {% elif argument.type == 'COLUMN' %}
                        <select id="{{ order }}+++{{ argument.name }}" class="form-control full-width variable-select" name="{{ order }}+++{{ argument.name }}" >
                            <option disabled selected value>-- select variable --</option>
                        </select>
                    {% else %}
                        <input id="{{ order }}+++{{ argument.name }}" type="text" class="form-control full-width variable-select" name="{{ order }}+++{{ argument.name }}"  value="{{ argument.default }}">
                    {% endif %}
                    <span class="material-input"></span>
                </div>
            </div>
        </div>
    {% empty %}
        <p>This analysis requires no further arguments.</p>
    {% endfor %}

    {% for parameter in info.parameters %}
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group label-floating is-empty">
                    <label class="control-label">{{ parameter.title }}</label>
                    {% if parameter.type == 'INT' %}
                        <input id="{{ order }}+++{{ parameter.name }}" type="number" class="form-control full-width" name="{{ order }}+++{{ parameter.name }}" autocomplete="off" value="{{ parameter.default }}">
                    {% elif parameter.type == 'FLOAT' %}
                        <input id="{{ order }}+++{{ parameter.name }}" type="number" step="0.00001" class="form-control full-width" name="{{ order }}+++{{ parameter.name }}" autocomplete="off" value="{{ parameter.default }}">
                    {% elif parameter.type == 'STRING' %}
                        <input id="{{ order }}+++{{ parameter.name }}" type="test" class="form-control full-width" name="{{ order }}+++{{ parameter.name }}" autocomplete="off" value="{{ parameter.default }}">
                    {% elif parameter.type == 'FLOAT-LIST' %}
                        <input id="{{ order }}+++{{ parameter.name }}" type="text" class="form-control full-width" name="{{ order }}+++{{ parameter.name }}" autocomplete="off" value="{{ parameter.default }}">
                    {% endif %}
                    <span class="material-input"></span>
                </div>
            </div>
        </div>
    {% empty %}
        <p>This analysis requires no further parameters.</p>
    {% endfor %}
</fieldset>
