{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html"/>
    <link href="{% static 'css/home.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}


    <div class="row">
        <div class="text-center">
            <h1 class="o-blue">Configure analysis</h1>
            <h5>Please provide the following information that is required for this analysis to run</h5>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-push-3 col-xs-12">
            <div class="card">
                <div class="card-content">
                    <form class="form" method="POST" id="config_analysis_form">
                        {% csrf_token %}
                        {% for argument in base_analysis.info.arguments %}
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">{{ argument.title }}</label>
                                        {% if argument.type == 'QUERY' %}
                                            <select id="query-select" class="form-control full-width" name="{{ argument.name }}">
                                                <option disabled selected>-- select one of the saved queries --</option>
                                                {% for query in saved_queries %}
                                                    <option id="{{ query.id }}" value="{{ query.raw_query }}">{{ query.title }}</option>
                                                {% endfor %}
                                            </select>
                                            <a href="#" id="new_query_link"> + or create a new query </a>
                                            <input id="new_query_doc" type="hidden" value=""/>
                                        {% elif argument.type == 'COLUMN' %}
                                            <select class="form-control full-width variable-select" name="{{ argument.name }}" autocomplete="off">
                                                <option disabled selected value>-- select variable --</option>
                                            </select>
                                        {% else %}
                                            <input type="text" class="form-control full-width variable-select" name="{{ argument.name }}" autocomplete="off" value="{{ argument.default }}">
                                        {% endif %}
                                        <span class="material-input"></span>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p>This analysis requires no further arguments.</p>
                        {% endfor %}

                        {% for parameter in base_analysis.info.parameters %}
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">{{ parameter.title }}</label>
                                        {% if parameter.type == 'INT' %}
                                            <input type="number" class="form-control full-width" name="{{ parameter.name }}" autocomplete="off" value="{{ parameter.default }}">
                                        {% elif parameter.type == 'FLOAT' %}
                                            <input type="number" step="0.00001" class="form-control full-width" name="{{ parameter.name }}" autocomplete="off" value="{{ parameter.default }}">
                                        {% elif parameter.type == 'STRING' %}
                                            <input type="test" class="form-control full-width" name="{{ parameter.name }}" autocomplete="off" value="{{ parameter.default }}">
                                        {% elif parameter.type == 'FLOAT-LIST' %}
                                            <input type="text" class="form-control full-width" name="{{ parameter.name }}" autocomplete="off" value="{{ parameter.default }}">
                                        {% endif %}
                                        <span class="material-input"></span>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <p>This analysis requires no further parameters.</p>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-success">Run analysis</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block js %}

    <script src="{% static 'basic-analytics/analytics_config.js' %}"></script>


    <script type="text/javascript">

        function updateVariables(element) {
            $('.variable-select').find('option').remove().end();
            $('.variable-select').append($("<option disabled selected>-- select variable --</option>"));
            var new_query_id = $(element).children(":selected").attr("id");
            var new_query_doc = $('#new_query_doc').val();
            $.ajax({
                url: '/queries/get_query_variables/',
                data: {
                    id: new_query_id,
                    document: new_query_doc
                    },
                type: 'GET',
                success: function(variables){
                    $.each(variables['variables'], function(k, v) {
                        $('.variable-select').append($("<option></option>")
                            .attr("value", v)
                            .text(k));
                    });
                }
            });
        }

        $('#query-select').on('change', function() {
            updateVariables(this);

        })


        function addNewQuery(title, raw_query, document) {
            $("#query-select option[id='-1']").remove().end();
            $('#query-select').append($("<option selected id='-1' value='"+raw_query+"'>"+title+"</option>"));
            $('#new_query_doc').val(document);
            updateVariables($('#query-select'));
        }
    </script>


    <script type="text/javascript">
        $('a#new_query_link').click(function(){
            var left  = ($(window).width()/2)-(900/2);
            var top   = ($(window).height()/2)-(600/2);
            window.open('/queries/', 'window name', 'width=900, height=600, top='+top+', left='+left);
            return false;
        });
    </script>




{% endblock %}