{% load static %}
<fieldset name="{{ order }}+++fieldset">
    <input id="{{ order }}+++anal_id" type="hidden" class="form-control full-width variable-select" name="anal_id"  value="{{ anal_id }}">

    {% for argument in info.arguments %}
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group label-floating is-empty">
                    {% if argument.type != 'QUERY' %}
                        <label class="control-label">{{ argument.title }}</label>
                    {% endif %}
                    {% if argument.type == 'SPATIAL_COV' %}
                         <div id="newmap" style="min-height: 200px; width: 100%; margin-top: 10px;">
                         </div>
                        <div id="choices">
                            <select style="width: 100%; border: 2px solid grey; border-radius: 1em;" id="mapchoices">
                                <option value="-1">Choose Predefined</option>
                                <option value="0">Baltic Sea</option>
                                <option value="1">Sea Of Japan</option>
                                <option value="2">Red Sea</option>
                                <option value="3">Mediterranean</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <span class="col-sm-3" style="padding: 10px 0px;">Latitude from </span>
                            <div class="form-group col-sm-3" style="display: inline-block;margin: 1px 1px;">
                                <input type="text" id="min_lat" class="form-control" style="width:100%">
                            </div>
                            <span class="col-sm-1" style="padding: 10px 0px;">To </span>
                            <div class="form-group col-sm-3" style=";margin: 1px 1px;">
                                <input type="text" id="max_lat" class="form-control" style="width:100%">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <span class="col-sm-3" style="padding: 10px 0px;">Latitude from </span>
                            <div class="form-group col-sm-3" style="display: inline-block;margin: 1px 1px;">
                                <input type="text" id="min_lon" class="form-control" style="width:100%">
                            </div>
                            <span class="col-sm-1" style="padding: 10px 0px;">To </span>
                            <div class="form-group col-sm-3" style="display: inline-block;margin: 1px 1px;">
                                <input type="text" id="max_lon" class="form-control" style="width:100%">
                            </div>
                        </div>


                    {% elif argument.type == 'QUERY' %}
                    {% elif argument.type == 'COLUMN' %}
                        <select id="{{ order }}+++{{ argument.name }}" class="form-control full-width variable-select" name="{{ order }}+++{{ argument.name }}" >
                            <option disabled selected value>-- select variable --</option>
                        </select>
                    {% else %}
                        <input id="{{ order }}+++{{ argument.name }}" type="text" class="form-control full-width variable-select" name="{{ order }}+++{{ argument.name }}"  value="{{ argument.default }}">
                    {% endif %}
                    <span class="material-input"></span>
                </div>
            </div>
        </div>
    {% empty %}
        <p>This analysis requires no further arguments.</p>
    {% endfor %}

    {% for parameter in info.parameters %}
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group label-floating is-empty">
                    <label class="control-label">{{ parameter.title }}</label>
                    {% if parameter.type == 'INT' %}
                        <input id="{{ order }}+++{{ parameter.name }}" type="number" class="form-control full-width" name="{{ order }}+++{{ parameter.name }}" autocomplete="off" value="{{ parameter.default }}">
                    {% elif parameter.type == 'FLOAT' %}
                        <input id="{{ order }}+++{{ parameter.name }}" type="number" step="0.00001" class="form-control full-width" name="{{ order }}+++{{ parameter.name }}" autocomplete="off" value="{{ parameter.default }}">
                    {% elif parameter.type == 'STRING' %}
                        <input id="{{ order }}+++{{ parameter.name }}" type="test" class="form-control full-width" name="{{ order }}+++{{ parameter.name }}" autocomplete="off" value="{{ parameter.default }}">
                    {% elif parameter.type == 'FLOAT-LIST' %}
                        <input id="{{ order }}+++{{ parameter.name }}" type="text" class="form-control full-width" name="{{ order }}+++{{ parameter.name }}" autocomplete="off" value="{{ parameter.default }}">
                    {% endif %}
                    <span class="material-input"></span>
                </div>
            </div>
        </div>
    {% empty %}
        <p>This analysis requires no further parameters.</p>
    {% endfor %}
</fieldset>

    <script src="{% static "js/leaflet-areaselect.js" %}"></script>

<script>
    var selections = [[54, 9, 66, 32], [34, 129, 52, 142], [12, 34, 29, 42], [35, 0, 41, 30]];              // configure some predifined places here
    var area_size=[[150,110],[150,100],[150,90],[150,250]];      //[height,width]
    var map;

    function load_map() {
        map_init();
        //Create area select.
        var areaSelect = L.areaSelect({
            width: 200,
            height: 150
        }).addTo(map);
        //Add area_select value to the hidden inputs.Use the inputs later onSubmit.
        areaSelect.on("change", function() {
            var bounds = this.getBounds();
            $("#min_lat").val(bounds.getSouthWest().lat);
            $("#max_lat").val(bounds.getNorthEast().lat);
            $("#min_lon").val(bounds.getSouthWest().lng);
            $("#max_lon").val(bounds.getNorthEast().lng);
        });

        /*          Set Up Default Selection of Map         */
        var mapselect = $('#mapchoices');
        mapselect.on('change', function () {
            var i = parseInt($('#mapchoices').val());
            if (i == -1) {
                map.setView([38, 25], 5);
                areaSelect.setDimensions({width: 200, height: 150});
            }
            else {
                map.setView([selections[i][0]+(selections[i][2]-selections[i][0])/2,selections[i][1]+(selections[i][3]-selections[i][1])/2],3);
                areaSelect.setDimensions({width: area_size[i][1], height: area_size[i][0]});
            }
        });

        $('#min_lat, #min_lon, #max_lat, #max_lon').on('change', function () {
{#            map.setView([selections[i][0]+(selections[i][2]-selections[i][0])/2,selections[i][1]+(selections[i][3]-selections[i][1])/2],3);#}
{#            areaSelect.setDimensions({width: area_size[i][1], height: area_size[i][0]});#}
        });

    }

	function map_init() {
		var maplayer = 'https://api.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.png?access_token=';
		var token = 'pk.eyJ1IjoiZ3RzYXBlbGFzIiwiYSI6ImNqOWgwdGR4NTBrMmwycXMydG4wNmJ5cmMifQ.laN_ZaDUkn3ktC7VD0FUqQ';
		var attr = 'Map data &copy;<a href="http://openstreetmap.org">OpenStreetMap</a>contributors,' +
			'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>' +
			'Imagery \u00A9 <a href="http://mapbox.com">Mapbox</a>';

		map = L.map('newmap').setView([38, 25], 5);
		L.tileLayer(maplayer + token, {
			attribution: attr,
			maxZoom: 18
		}).addTo(map);

	}
	$( "#newmap" ).closest('.modal').on('shown.bs.modal', function (e) {
        load_map();
    });
	$( "#newmap" ).closest('.popover').on('shown.bs.popover', function (e) {
        map_init();
    });
	$( "#newmap" ).closest('.collapse').on('shown.bs.collapse', function (e) {
        map_init();
    });

	$( "#newmap" ).ready(function (e) {
	    var inModal = this.closest('.modal').length === 0;
	    var inPopover = this.closest('.popover').length === 0;
	    var inCollapse = this.closest('.collapse').length === 0;
	    if (inModal || inPopover || inCollapse){
	        map_init();
        }
    });

	$('fieldset').ready( function () {
	    $('#choices select').select2();
    });

	$( "#newmap" ).parent().find('label').css("line-height", "0");
</script>