{% if job.status == 'FINISHED' %}
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group">
{#                <a href="#" class="btn btn-success">Provide as a service</a>#}
                <a href="#" class="btn btn-success">Save as report</a>
                <a href="/analytics/create/" class="btn btn-info">Start a new analysis</a>
            </div>
        </div>
    </div>
{% endif %}

<table class="table">
    <tr>
        <td class="status-cell" data-status="{{ job.status }}">Status</td>
        <td>{{ job.get_status_display }}</td>
    </tr>
    <tr>
        <td>Submitted</td>
        <td>{{ job.submitted }}</td>
    </tr>
    <tr>
        <td>Started</td>
        <td>{{ job.started }}</td>
    </tr>
    {% if job.finished %}
        <tr>
            <td>Finished</td>
            <td>{{ job.finished }}</td>
        </tr>
    {% endif %}

    {% for order, analysis_id in analysis_flow %}
        <tr>
            <td style="width: 120px"><b>{{ order }}: Analysis type</b></td>
            <td>{{ analysis_id }}</td>
        </tr>
        <tr>
            <td>{% if job.arguments|get_item:order %}<b>{% endif %}Arguments:{% if job.arguments|get_item:order  %}</b>{% endif %}</td>
            <td>{% if not job.arguments|get_item:order %}No arguments{% endif %}</td>
        </tr>
        {% for arg_name in job.arguments|get_item:order %}
            <tr>
                <td>{{ arg_name }}</td>
                <td>{{ job.arguments|get_item:order|get_item:arg_name }}</td>
            </tr>
        {% endfor %}
    {% endfor %}


    {% if job.results %}
        <tr>
            <td><b>Results</b></td>
            <td></td>
        </tr>
        {% for res_name, value in job.results.items %}
            <tr>
                <td>{{ res_name }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>



