<div class="col-md-4 service-tile">
    <div class="card">
        {% if not skip_icon %}
            <div class="card-header text-center" data-background-color="{{ service.service_type_info.color }}">
                <i class="fa fa-4x fa-{{ service.service_type_info.icon }}"></i>
            </div>
        {% endif %}
        <div class="card-content">
            {% if show_price %}
                <div class="clearfix">
            {% endif %}
            <h4 class="title{% if show_price %} pull-left{% endif %}">
                <a href="{{ link_select }}">{{ service.title }}</a>
                {% if service.label %}<span class="label label-warning">{{ service.label|upper }}</span>{% endif %}
            </h4>
            {% if show_price %}
                <span class="pull-right label bg-color--gray">FREE</span>
            </div>
            {% endif %}
            <p class="category padding-vertical-1"><span class="text-success"><i class="fa fa-long-arrow-up"></i> {{ service.stats.increase }}</span> users this {{ service.stats.period }}</p>
            <p class="category padding-vertical-1"><label>Provider</label><a href="#" class="margin-left-3">{{ service.provider }}</a></p>
            {% if service.coverage %}
                <p class="category padding-vertical-1"><label>Coverage</label>
                    {% if service.coverage.time %}<i class="fa fa-clock-o margin-left-3 margin-right-1"></i>{{ service.coverage.time }}{% endif %}
                    {% if service.coverage.location %}<i class="fa fa-map-marker margin-left-3 margin-right-1"></i>{{ service.coverage.location }}{% endif %}
                </p>
            {% endif %}
            {% if service.moto %}
                <p class="moto">{{ service.moto|safe }}</p>
            {% endif %}
        </div>
        <div class="card-footer">
            <div class="stats">
                <i class="material-icons">access_time</i> updated {{ service.updated|timesince }} ago
            </div>

            {% if link_select %}
                <div>
                    <a href="{{ link_select }}" class="btn btn-sm bg-color--blue pull-right select-link">Select</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>