{#<button id="toggleviz_group_container_btn" data-toggle="collapse" data-target="#viz_group_container">#}
{#    Show available charts#}
{#</button>#}
<div id="createPreBuildLink">
    <i class="fa fa-plus-circle o-white"></i>
    <span>Add to dashboard </span>
</div>
<div class="row" id="viz_config" style="width: 100%;">
    <div id='viz_group_container' class="collapse width in" >

        <ul class="list-group">
            {% for viz in available_viz %}
                {% if viz.data_source == 'query' %}
                    <li class="list-group-item viz_item" data-viz-type="{{ viz.type }}" data-viz-id="{{ viz.id }}" data-viz-name="{{ viz.view_name}}" data-description="{{ viz.description }}">
                        <i class="{{ viz.icon }}" style="margin-right:0.3vw"></i>{{ viz.title }}
                        <span id="selected_viz_span" class="glyphicon glyphicon-triangle-left" style="position: absolute;right: 5px;top:13.5px; display: none;"></span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

    </div>
    <div id="viz_container" class="" >
        <div class="outputLoadImg" style="display: none"><img src="http://assets.motherjones.com/interactives/projects/features/koch-network/shell19/img/loading.gif"/></div>
    </div>
</div>
<input type="hidden" id="selected_query" value="">


<div id="conf-container" style="display: none">
</div>


<form id="config-viz-form" style="display: none">
</form>