    {% load i18n %}

    <div id="select-data-modal" style="display: none;">
        <div class="modal-body">
            <div class="form-group">
                <input type="text" autocomplete="off" id="data-filter-search"
                       class="form-control border-input" placeholder="Search..."/>
            </div>

            <div class="selection-body">
                <div class="no-results {% if datasets %}hidden{% endif %}">No results found</div>

                {% for dataset in datasets %}
                    <div class="dataset-section">
                        <div class="dataset-info">
                            <div class="dataset-name">
                                <i class="fa fa-database"></i>
                                {{ dataset.title }}
                            </div>
                        </div>
                        <div class="variable-list">
                            {% for variable in dataset.variables.all %}
                                <div class="variable-section">
                                    <div class="variable-name">{{ variable.safe_name }}</div>
                                    <div class="variable-title">{{ variable.title }} ({{ variable.unit }})</div>
                                    <div class="dimensions hidden">
                                        {% for dimension in variable.dimensions.all %}
                                            <div data-type="{{ dimension.pk }}">{{ dimension.name }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="selection-confirm row">
                <div class="col-xs-12 hidden">
                    <div class="row">
                        <div class="col-xs-8">
                            <label for="selection-aggregate">Aggregate</label>
                            <select id="selection-aggregate">
                                {% for aggregate in AGGREGATES %}
                                    <option value="{{ aggregate.0 }}"
                                            {% if aggregate.0 == 'AVG' %} selected="selected"{% endif %}>
                                        {{ aggregate.1 }}
                                    </option>
                                {% endfor %}
                            </select>

                            <div class="selection-group-by">
                                <label for="selection-aggregate">Group by</label>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <button id="selection-confirm-btn" class="btn btn-primary pull-right">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
