{% load i18n %}
{% load static %}

<div id="select-data-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Select Data</h2>
            </div>

            <div class="modal-body">

                <div id="dataset-all-section" class="row">
                    <form id="dataset-filter-section" class="col-sm-2">
                        <h3>Filters</h3>
                        <!-- text filter control -->
                        <div class="form-group label-floating is-empty">
                            <label for="title-filter" class="control-label">Search in title: </label>
                            <input
                                data-control-type="textbox"
                                data-control-action="filter"
                                data-control-name="title-filter"
                                data-path=".dataset-name"
                                type="text"
                                value=""
                                class="form-control full-width border-input"
                                id="title-filter"
                            />
                        </div>
                        <div class="form-group ">
                            <label for="variable-filter" class="control-label">Search for variable: </label>
                            <select
                                title="select variable"
                                data-control-type="filter-select"
                                data-control-action="filter"
                                data-control-name="variable-filter"
                                class="form-control full-width"
                                id="variable-filter"
                            >
                                <option value="0" data-path="default" selected>All</option>
                                {% for var in variables %}
                                    <option value="{{ var.safe_name }}" data-path="[data-variable-name='{{ var.safe_name }}']">{{ var.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group ">
                            <label for="organization-filter" class="control-label">Organization: </label>
                            <select
                                title="select organization"
                                data-control-type="filter-select"
                                data-control-action="filter"
                                data-control-name="organization-filter"
                                class="form-control full-width"
                                id="organization-filter"
                            >
                                <option value="0" data-path="default" selected>All</option>
                                {% for org in organizations %}
                                    {% if org.id != 1 %}
                                        <option value="{{ org.id }}" data-path="[data-organization-id='{{ org.id }}']">{{ org.title }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div
                            class="jplist-group checkbox"
                            data-control-type="checkbox-group-filter"
                            data-control-action="filter"
                            data-control-name="private-filter">

                            <label class="form-check-label">
                                <input
                                    data-path="[data-dataset-private='True']"
                                    id="private-filter"
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                />
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                                Is private dataset
                            </label>
                        </div>

                        <div
                            class="jplist-group checkbox"
                            data-control-type="checkbox-group-filter"
                            data-control-action="filter"
                            data-control-name="has-time-filter">

                            <label class="form-check-label">
                                <input
                                    data-path="[data-has-time='True']"
                                    id="has-time-filter"
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                />
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                                Has time information
                            </label>
                        </div>

                        <div
                            class="jplist-group checkbox"
                            data-control-type="checkbox-group-filter"
                            data-control-action="filter"
                            data-control-name="has-depth-filter">

                            <label class="form-check-label">
                                <input
                                    data-path="[data-has-depth='True']"
                                    id="has-depth-filter"
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                />
                                <span class="form-check-sign">
                                    <span class="check"></span>
                                </span>
                                Has depth information
                            </label>
                        </div>

                    </form>
                    <div id="dataset-list-section" class="col-sm-6">
                        <h3>BDO Datasets</h3>

                        <div class="selection-body">
                            {% for dataset in datasets.all %}
                                <div class="dataset_collapse_div dataset-section">
                                    <div class="dataset-name" data-dataset-id="{{ dataset.id }}" data-selected>
{#                                            <i class="fa fa-database"></i>#}
                                        <div class="dataset-title">
                                            {{ dataset.title }}
                                        </div>
                                        <div class="dataset-organization">
                                            {{ dataset.organization.title }}
                                        </div>
                                    </div>
                                    <div class="dataset-info hidden">
                                        <div class="dataset-metadata" data-dataset-id="{{ dataset.id }}" data-selected>
                                            <div class="dataset-title">
                                                {{ dataset.title }}
                                            </div>
                                            <div class="dataset-organization" data-organization-id="{{ dataset.organization.id }}">
                                                {{ dataset.organization.title }}
                                            </div>
                                            <span class="is-private hidden" data-dataset-private='{{ dataset.private }}'></span>
                                            <span class="has-time hidden" data-has-time='{% for dim in dataset.variables.first.dimensions.all %}{% if dim.title == 'time' %}True{% endif %}{% endfor %}'></span>
                                            <span class="has-depth hidden" data-has-depth='{% for dim in dataset.variables.first.dimensions.all %}{% if dim.title == 'depth' %}True{% endif %}{% endfor %}'></span>
                                        </div>
                                        <div class="dataset-variables-div" >
                                            {% for variable in dataset.variables.all %}
                                                <div class="variable-section" data-variable-name="{{ variable.safe_name }}">
                                                    <span class="variable-id " hidden>{{ variable.id }}</span>
                                                    <span data-dataset={{ dataset.id }} class="variable-title">{{ variable.title }}</span>
                                                    (<span class="variable-unit">{{ variable.unit }}</span>)
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="dataset-dimensions-div">
                                            {% for dimension in dataset.variables.first.dimensions.all %}
                                                <div class="dimension-section" data-dimension-name="{{ dimension.name }}">
                                                    <span data-type="{{ dimension.pk }}" data-name="{{ dimension.name }}">{{ dimension.name }}</span>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                            <!-- no results control -->
                            <div class="jplist-no-results">No Results Found</div>
                    </div>
                    <div id="dataset-info-section" class="col-sm-4">
                        <h3>Dataset info</h3>
                        <div id="dataset_info_div" class="hidden">
                            <div id="dataset_basic_info_div">

                            </div>
                            <div id="pills_div">
                                <ul class="nav nav-pills nav-justified">
                                  <li class="active"><a href="#dataset-variables-div" data-toggle="pill" >Variables</a></li>
                                  <li><a href="#dataset-dimensions-div" data-toggle="pill" >Dimensions</a></li>
                                </ul>
                            </div>
                            <div id="dataset_var_dim_div">
                                <div class="tab-content">
                                    <div id="dataset-variables-div" class="tab-pane fade in active">

                                    </div>
                                    <div id="dataset-dimensions-div" class="tab-pane fade">

                                    </div>
                                </div>
                             </div>
                        </div>
                        <div class="selection-confirm">
                            <div class="col-xs-12 hidden">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <label for="selection-aggregate">Aggregate</label>
                                        <select id="selection-aggregate">
                                            {% for aggregate in AGGREGATES %}
                                                <option value="{{ aggregate.0 }}"
                                                        {% if aggregate.0 == 'AVG' %} {# selected="selected"#}{% endif %}>
                                                    {{ aggregate.1 }}
                                                </option>
                                            {% endfor %}
                                        </select>

                                        <div class="selection-group-by">
                                            <label for="selection-aggregate">Group by</label>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <button id="selection-confirm-btn" class="btn btn-sm btn-primary">Add</button>
                                        <button id="selection-close-btn" class="btn btn-sm btn-default">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
