{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-push-3 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-content">
                    <h1 class="o-blue" style="font-size: 3em;">On Demand Data and Services</h1>

                    <form class="form" method="POST" action=".">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="section-label o-blue">Title</label>
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"> Make sure to use a title that will help users understand as much as possible about your request.</label>
                                        <input type="text" name="title" class="form-control full-width" />
                                    <span class="material-input"></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="section-label o-blue">Service description</label>
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"> Please provide a short description of the expected service and what data you need.</label>
                                        <textarea name="description" class="form-control full-width" rows="4"></textarea>
                                    <span class="material-input"></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label">Keyword(s) / optional, will help BigDataOcean analysts find your request faster - user commas to separate more than one</label>
                                    <input name="keywords_raw" type="text" class="form-control full-width">
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="section-label o-blue">Pricing</label>
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">Pricing</label>
                                        <select name="pricing" class="form-control full-width">
                                            <option value="FREE">Community feedback (free)</option>
                                            <option value="FIXED">Fixed reward</option>
                                            <option value="TDB">Negotiable</option>
                                        </select>
                                    <span class="material-input"></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="section-label o-blue">Pricing</label>
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">Reward (€)</label>
                                        <input name="price" type="number" step="0.01" class="form-control full-width">
                                    <span class="material-input"></span></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-success">Submit request</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}