{% load humanize %}

<div class="on-demand-request-teaser margin-vertical-5 padding-right-5">
    <div class="row">
        <div class="col-xs-12">
            <div class="clearfix">
                <h4 class="pull-left" style="margin: 0 0 10px 0;">{{ req.title }}</h4>
                <div class="pull-right">
                    {% if not req.solved_by %}
                        <span class="label label-warning"><i class="fa fa-spinner"></i> OPEN</span>

                        {% if request.user == req.user %}
                            <span class="label label-info">
                                <a href="/on-demand/{{ req.pk }}/edit/" style="margin-right: 5px;">
                                    <i class="fa fa-edit"></i> Edit
                                </a>
                            </span>
                        {% endif %}
                    {% else %}
                        <span class="label label-success"><i class="fa fa-check"></i> SOLVED</span>
                    {% endif %}
                </div>
            </div>
            <p>
                Posted by
                <a href="#">{{ req.user.username }}</a>
                / <i class="fa fa-gift o-blue"></i> {{ req.get_pricing_display }}
                {% if req.price %}
                    / € {{ req.price|intcomma }}
                {% endif %}
                <span class="pull-right">
                    <span class="margin-horizontal-2 o-darkgray"><i class="fa fa-clock-o"></i> {{ req.created|naturaltime }}</span>
                    <span class="margin-horizontal-2 o-blue"><i class="fa fa-thumbs-up"></i> {{ req.votes }}</span>
                </span>
            </p>
            <p>
                {% if not details %}
                    <a href="{{ req.get_absolute_url }}" class="btn btn-sm btn-success">View request</a>
                {% endif %}

                {% if req.closed_by %}Solved by <a href="#" style="margin: 8px 0;">{{ req.closed_by.user.username }}{% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="o-lightgray" style="margin-left: 0;"><i class="fa fa-comment margin-right-2"></i>
                {% if details %}
                    {{ req.description|linebreaksbr }}
                {% else %}
                    {{ req.description|slice:"100"|linebreaksbr }}
                {% endif %}
            </p>
        </div>
    </div>
</div>