#service_container{
    margin-top: 3%;
}

.nav-pills:not(.nav-pills-icons) > li > a{
    background-color: #efefef;
}

.nav-pills:not(.nav-pills-icons) > li > a:hover{
    background-color: #d9d9d9;
}

.nav-pills:not(.nav-pills-icons) > .active > a{
    background-color: #2671aa;
}

.nav-pills:not(.nav-pills-icons) > .active > a:hover{
    background-color: #2671aa;
}

.table-full-width{
    margin-left: 0;
    margin-right: 0;
}


.tab-pane{
    min-height: 500px;
}

#queries_container .popover{
    min-width: 470px;
    max-width: 600px;
    min-height: 230px;
}

#arguments_container .popover{
    min-width: 750px;
    max-width: 900px;
    min-height: 230px;
}

#add_new_query_btn, #add_new_argument_btn{
    position: absolute;
    right: 7px;
    bottom: 0px;
}

.select2-dropdown, .select2-dropdown--below{
    width: 475px !important;
    max-width: 480px;
}

.select2, .select2-container, .select2-container--default, .select2-container--below, .select2-container--open{
    width: 475px !important;
    max-width: 480px;
}
