#service_container{
    margin-top: 3%;
}

.nav-pills:not(.nav-pills-icons) > li > a{
    background-color: #efefef;
}

.nav-pills:not(.nav-pills-icons) > li > a:hover{
    background-color: #d9d9d9;
}

.nav-pills:not(.nav-pills-icons) > .active > a{
    background-color: #2671aa;
}

.nav-pills:not(.nav-pills-icons) > .active > a:hover{
    background-color: #2671aa;
}

.table-full-width{
    margin-left: 0;
    margin-right: 0;
}


.tab-pane{
    min-height: 500px;
}

/*Size of the popovers*/
#queries_container .popover, #code_container .popover{
    min-width: 570px;
    max-width: 700px;
    min-height: 230px;
}

#arguments_container .popover{
    min-width: 750px;
    max-width: 900px;
    min-height: 230px;
}
/******************/

#add_new_query_btn, #add_new_argument_btn, #load_query_btn{
    position: absolute;
    right: 7px;
    bottom: 0px;
}

/*Size of the query args select field*/
.select2-dropdown, .select2-dropdown--below{
    width: 475px !important;
    max-width: 480px;
}

.select2, .select2-container, .select2-container--default, .select2-container--below, .select2-container--open{
    width: 475px !important;
    max-width: 480px;
}
/***************/

/*Zeppelin Iframe*/
#code_container #main-container, .nav-pills{
    position: relative;
    z-index: 1;
}

.holder{
    margin-top: -90px;
    position:relative;
    z-index: 0;
}
.frame{
    width: 100%;
    height:100%;
    min-height: 700px;
}
.bar{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 110px;
    background-color: #f9f9f9;
    border-width: 2px;
    border-bottom-width: 2px;
    border-bottom-style: inset;
    border-color: initial;
    border-bottom-color: initial;
}
/***************/




* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	width: 100%; height: 100%;
}

#wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Code Editors */

#code_editors {
    position: absolute;
    /* top: 0; */
    left: 0;
    /* bottom: 0; */
    right: 60%;
    height: 500px;
}

#code_editors .code_box {
	height: 33%; width: 100%;
	position: relative;
}
.code_box h3 {
	font-size: 13px;
	height: 30px;
	padding: 5px 10px; margin: 0;
	background: linear-gradient(#707070, #555);
	color: white;
	border-top: 1px solid #8F8F8F;
	border-bottom: 1px solid #202020;
    z-index: 10;
}
.code_box textarea {
	position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 30px;
    bottom: 0;
    resize: none;
    border: 0;
    padding: 10px;
    font-family: monospace;
}
.code_box textarea:focus {
	outline: none;
	background: #EFEFEF;
}

/* Output Area */
#output {
    position: absolute;
    left: 40%;
    top: 0;
    right: 0;
    height: 500px;
    /* bottom: 0; */
    border: 5px solid #444;
    border-left-width: 10px;
    overflow: hidden;
}

#output iframe {
	width: 100%; height: 100%;
	border: 0;
}

.CodeMirror-gutters {
    z-index: 0 !important;
}

.CodeMirror-scroll {
    height: 75% !important;
}