@media screen and (min-width: 768px){.modal:before {display: inline-block;vertical-align: middle;content: " ";height: 100%;}}
.modal-backdrop {z-index:-1;}
#service_result_container{ position: relative; min-height: 500px; width: 100%; /*background-color: white;*/ display: none;}
.loadingDiv, .loadingFrame{position:absolute;z-index:999;display:none;right:0;left:0;bottom:0;top:0;background:#fff;text-align:center;border:thin dashed;}
.viz_container{position: relative; height: 400px; width: 100%; margin: 1% 0;}
#service_result_container iframe{border: none; box-shadow: 0 0 3px 0px #a28e8eb0;}
th{text-align: center; font-weight: 600; !important;}
