{% load static %}



<div class="all_viz_forms"  style="display: none;" >
<select id ='all-vessel-select-options' class="vessel-id-select" style="display: none;"></select>
    {% for viz in available_viz %}
        <div id="viz_{{ viz.id }}">
            <input id="1+++viz_id"  class="full-width " name="viz_id"  value="{{ viz.id }}" style="display: none">
            <input id="action"  class=" full-width " name="action"  value="{{ viz.view_name }}" style="display: none">
            {% for argument in viz.info.arguments %}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group label-floating is-empty">
                            {% if argument.type != 'QUERY' and argument.type != 'CHECKBOX' %}
                                <label class="control-label form_field_info"  title="{{ argument.description }}"  data-toggle="tooltip"> {{ argument.title }}</label>
                            {% endif %}
                            {% if argument.type == 'QUERY' %}
                            {% elif argument.type == 'COLUMN' %}
                                <select id="{{ argument.name }}" class=" ui dropdown full-width column-select" name="{{ argument.name }}" style="width: 250px" >

                                </select>
                            {% elif argument.type == 'VARIABLE' %}
                                <select id="{{ argument.name }}" class="ui dropdown full-width variable-select" name="{{ argument.name }}" style="width: 250px" >

                                </select>
                            {% elif argument.type == 'VARIABLE_LIST' %}
                                <select id="{{ argument.name }}" class="ui dropdown full-width variables-select" name="{{ argument.name }}[]" multiple="multiple" style="width: 250px">

                                </select>
                            {% elif argument.type == 'COLUMN_LIST' %}
                                <select id="{{ argument.name }}" class="ui dropdown full-width columns-select" name="{{ argument.name }}[]" multiple="multiple" style="width: 250px">

                                </select>

                            {% elif argument.type == 'COLUMN_NUMERIC' %}
                                <select id="{{ argument.name }}" class=" ui dropdown full-width column-numeric-select" name="{{ argument.name }}" style="width: 250px" >

                                </select>
                            {% elif argument.type == 'VARIABLE_NUMERIC' %}
                                <select id="{{ argument.name }}" class="ui dropdown full-width variable-numeric-select" name="{{ argument.name }}" style="width: 250px" >

                                </select>
                            {% elif argument.type == 'VARIABLE_LIST_NUMERIC' %}
                                <select id="{{ argument.name }}" class="ui dropdown full-width variables-numeric-select" name="{{ argument.name }}[]" multiple="multiple" style="width: 250px">

                                </select>
                            {% elif argument.type == 'COLUMN_LIST_NUMERIC' %}
                                <select id="{{ argument.name }}" class="ui dropdown full-width columns-numeric-select" name="{{ argument.name }}[]" multiple="multiple" style="width: 250px">

                                </select>
                            {% elif argument.type == 'VESSEL_ID_COLUMN_LIST' %}
                                <select id="{{ argument.name }}" class="ui dropdown full-width vessel-id-columns-select" name="{{ argument.name }}" style="width: 250px">

                                </select>
                            {% elif argument.type == 'VESSEL_ID_LIST' %}
                                {% if viz.view_name == 'get_map_plotline_vessel_course'  %}
                                    <select id="{{ argument.name }}" class="ui search selection dropdown full-width vessel-id" name="{{ argument.name }}" style="width: 250px">

                                    </select>
                                {% else %}
                                    <select id="{{ argument.name }}" class="ui search selection dropdown full-width vessel-id" name="{{ argument.name }}[]"  multiple="multiple" style="width: 250px">

                                    </select>
                                {% endif %}
                            {% elif argument.type == 'AGG_FUNCTION' %}
                                <select id="{{ argument.name }}" class="ui dropdown full-width aggregate-select" name="{{ argument.name }}" >
{#                                    <option value="">Select Aggregation Function</option>#}
                                    <option value="AVG">Average</option>
                                    <option value="SUM">Sum</option>
                                    <option value="COUNT">Count</option>
                                    <option value="MAX">Maximum</option>
                                    <option value="MIN">Minimum</option>
                                </select>
        {#                    {% elif argument.type == 'DIMENSION' %}#}
        {#                        <select id="{{ argument.name }}" class="form-control full-width variable-select" name="{{ argument.name }}" >#}
        {#                            <option disabled selected value>-- select dimension --</option>#}
        {#                        </select>#}
                            {% elif argument.type == 'SPATIAL_COV' %}
                                 <div id="newmap" style="min-height: 200px; width: 100%; margin-top: 10px;">
                                 </div>
                                <div id="choices">
                                    <select style="width: 100%; border: 2px solid grey; border-radius: 1em;" id="mapchoices">
                                        <option value="-1">Choose Predefined</option>
                                        <option value="0">Baltic Sea</option>
                                        <option value="1">Sea Of Japan</option>
                                        <option value="2">Red Sea</option>
                                        <option value="3">Mediterranean</option>
                                    </select>
                                </div>
                                <div class="col-sm-12">
                                    <span class="col-sm-3" style="padding: 10px 0px;color: #ababaa;">Latitude, from: </span>
                                    <div class="form-group col-sm-3" style="display: inline-block;margin: 1px 1px;">
                                        <input step="0.001" type="number" id="min_lat" class="form-control" style="width:100%">
                                    </div>
                                    <span class="col-sm-1" style="padding: 10px 0px;color: #ababaa;">to: </span>
                                    <div class="form-group col-sm-3" style=";margin: 1px 1px;">
                                        <input step="0.001" type="number" id="max_lat" class="form-control" style="width:100%">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <span class="col-sm-3" style="padding: 10px 0px;color: #ababaa;">Longitude, from: </span>
                                    <div class="form-group col-sm-3" style="display: inline-block;margin: 1px 1px;">
                                        <input step="0.001" type="number" id="min_lon" class="form-control" style="width:100%">
                                    </div>
                                    <span class="col-sm-1" style="padding: 10px 0px;color: #ababaa;">to: </span>
                                    <div class="form-group col-sm-3" style="display: inline-block;margin: 1px 1px;">
                                        <input step="0.001" type="number" id="max_lon" class="form-control" style="width:100%">
                                    </div>
                                </div>
                           {% elif argument.type == 'DATETIME' %}
                                <div class="coverage-date-filters">
                                    <div class="row">
                                        <div>
                                            <div class="form-group">
                                                <div class='input-group date'>
                                                    <input type='text' class="form-control" name="{{ argument.name }}" id="{{ argument.name }}"/>
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           {% elif argument.type == 'INT' %}
                                <input id="{{ argument.name }}" type="number" step="1" class="form-control full-width" name="{{ argument.name }}" value="{{ argument.default }}">
                            {% elif argument.type == 'FLOAT' %}
                                <input id="{{ argument.name }}" type="number" step="0.001" class="form-control full-width" name="{{ argument.name }}" value="{{ argument.default }}">
                            {% elif argument.type == 'BOOLEAN' %}
                                <input id="{{ argument.name }}" type="checkbox" class="form-control full-width" name="{{ argument.name }}" value="{{ argument.default }}"
                                    {% if argument.default ==  "TRUE" %}checked {% endif %}><br>
{#                            {% elif argument.type == 'DATASET_ARGUMENT_SELECT' %}#}
{#                                <select id="{{ argument.name }}" class="ui dropdown form-control search full-width dataset-argument-select" name="{{ argument.name }}" >#}
{##}
{#                                </select>#}
                            {% elif argument.type == 'SELECT' %}
                                <select id="{{ argument.name }}" class="ui dropdown full-width select-select" name="{{ argument.name }}" >
                                    {% for option in argument.options %}
                                         <option value="{{ option.value }}">{{ option.text }}</option>
                                    {% endfor %}
                                </select>
                            {% elif argument.type == 'CHECKBOX' %}
                                <div class="ui checkbox">
                                  <input id="{{ argument.name }}" type="checkbox" name="{{ argument.name }}" >
                                  <label >{{ argument.title }}</label >
                                </div>
                            {% elif argument.type == 'DF_MULTIPLE_INPUT' %}
                                    <select id="{{ argument.name }}" name="{{ argument.name }}[]" multiple="" class="ui search fluid dropdown df-multi-input">
                                        <option value="-1"></option>
                                    </select>
                            {% elif argument.type == 'DF_SIMPLE_INPUT' %}
                                    <input id="{{ argument.name }}" type="text" class="form-control full-width df-simple-input" name="{{ argument.name }}"  value="{{ argument.default }}">
                            {% else %}
                                <input id="{{ argument.name }}" type="text" class="form-control full-width " name="{{ argument.name }}"  value="{{ argument.default }}">
                            {% endif %}
                            <span class="material-input"></span>
                        </div>
                    </div>
                </div>
            {% empty %}
                    <p>This visualization requires no further arguments.</p>
            {% endfor %}
            <button type="button" id="select_conf_ok" class="btn btn-sm btn-success" data-toggle="popover">OK</button>
            <button type="button" id="select_conf_cancel" class="btn btn-sm btn-danger pull-right" data-toggle="popover">Cancel</button>
        </div>
    {% endfor %}
</div>

{#<script src="{% static "js/leaflet-areaselect.js" %}?bdo_version={{ settings.BDO_VERSION }}"></script>#}
{#<script type="text/javascript" src="{% static 'js/spatial_coverage_filter.js' %}?bdo_version={{ settings.BDO_VERSION }}"></script>#}
{#<script src="{% static "js/bootstrap-datetimepicker.js" %}?bdo_version={{ settings.BDO_VERSION }}"></script>#}
{#<script type="text/javascript" src="{% static 'js/datepicker.js' %}?bdo_version={{ settings.BDO_VERSION }}"></script>#}

