{% load static %}
{% load leaflet_tags %}

{% block css %}
     {% leaflet_css %}
{% endblock %}



    <input id="{{ order }}+++viz_id" type="hidden" class="form-control full-width variable-select" name="viz_id"  value="{{ viz_id }}">
    <input id="action" type="hidden" class="form-control full-width variable-select" name="action"  value="{{ action }}">

    {% for argument in info.arguments %}
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group label-floating is-empty">
                    {% if argument.type != 'QUERY' %}
                        <label class="control-label">{{ argument.title }}</label>
                    {% endif %}
                    {% if argument.type == 'QUERY' %}
                    {% elif argument.type == 'COLUMN' %}
                        <select id="{{ argument.name }}" class="form-control full-width variable-select" name="{{ argument.name }}" >
                            <option disabled selected value>-- select variable --</option>
                        </select>
                    {% elif argument.type == 'DIMENSION' %}
                        <select id="{{ argument.name }}" class="form-control full-width variable-select" name="{{ argument.name }}" >
                            <option disabled selected value>-- select dimension --</option>
                        </select>
                    {% elif argument.type == 'INT' %}
                        <input id="{{ argument.name }}" type="number" step="0.00001" class="form-control full-width" name="{{ argument.name }}" autocomplete="off" value="{{ argument.default }}">
                    {% elif argument.type == 'FLOAT' %}
                        <input id="{{ argument.name }}" type="number" step="0.00001" class="form-control full-width" name="{{ argument.name }}" autocomplete="off" value="{{ argument.default }}">
                    {% else %}
                        <input id="{{ argument.name }}" type="text" class="form-control full-width variable-select" name="{{ argument.name }}"  value="{{ argument.default }}">
                    {% endif %}
                    <span class="material-input"></span>
                </div>
            </div>
        </div>
    {% empty %}
        <p>This visualization requires no further arguments.</p>
    {% endfor %}

{% block js %}
    {% leaflet_js %}
    <script src="{% static 'dashboard_builder/js/selbound.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{% endblock %}

{##}

