{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}?bdo_version={{ settings.BDO_VERSION }}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}?bdo_version={{ settings.BDO_VERSION }}"/>
{% endblock %}

{% block content %}


    <div class="row col-sm-12 your-class" id="components-container">
        {% for component in components %}
            <img>
                <div><strong>{{ component.title }}</strong></div>
                <img src="{% static 'visualizer/img/default-img.jpg' %}"/>
            </div>
        {% endfor %}
    </div>


    <div class="col-sm-9" id="dynamic_dashboard"></div>


    <button style="display: none;" id="modalbtn" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

{% endblock %}


{% block modal %}

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/slick.js' %}?bdo_version={{ settings.BDO_VERSION }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          $('.your-class').slick({
{#              setting-name: setting-value#}
          });
        });
    </script>
{% endblock %}
