{% extends 'templates/base.html' %}

{% load staticfiles %}

{% block title %}Your BigDataOcean Requests{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'requestservice/script.js' %}"></script>
{% endblock %}
{% block content %}


    <ul class="breadcrumb">
        <li><a href="#">Requests</a></li>
    </ul>

<div class="container-fluid text-center">
    <!-- Displays the Requests Of The Logged In User If Any -->
    {% if request.user.is_authenticated %}
        {%  if all_requests > 0 %}
            <h2>On Demand Data Services</h2>

            <input type="text" placeholder=" Search For A Request" id="title">

            <button class="btn btn-default" id="search">
                Search
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>

            <h3 id="ressum">({{ all_requests }}) Requests</h3>

            <div class="btn-group">
                <button id="all" type="button" class="btn btn-default active">All Requests</button>
                <button id="user" type="button" class="btn btn-default">Your Requests</button>
            </div>

            <br>

            <div id="list" class="col-sm-8 col-sm-offset-2">
                <div id="usabilities">
                    <ul class="nav nav-tabs" style="background-color: transparent">
                        <li id="openus" class="active"><a data-toggle="tab" href="#openn" id="opentabl">Open <span id="spoo" class="badge">{{ open|length }}</span></a></li>
                        <li id="closedus"><a data-toggle="tab" href="#closedd" id="closedtabl">Closed <span id="spcc" class="badge">{{ closed|length }}</span></a></li>
                    </ul>
                </div>
                <div id="data">
                    <div id="tabs" class="tab-content">
                        <div id="openn" class="tab-pane fade in active">
                            {% comment %}{% for entry in open %}
                                {% if forloop.counter <= 5 %}
                                    <div class="entry">
                                        <div class="secondary">
                                            <a href="{% url 'userrequests:detail' entry.id %}">
                                                <img id="file" src="{{ entry.file }}" alt="No Image Has Been Uploaded">
                                            </a>
                                        </div>
                                        <div class="primary">
                                            <a href="{% url 'userrequests:detail' entry.id %}">
                                                <h4 class="text-left">{{ entry.title }}</h4>
                                            </a>
                                            <hr>
                                            <p>keywords: <span class="btn-info">{{ entry.keywords }}</span></p>
                                        </div>
                                        <div class="secondary">
                                            <p>Posted By: {{ entry.user }}</p>
                                            <p>On: {{ entry.deadline }}</p>
                                        </div>
                                        <div class="secondary">
                                            <p>{{ entry.views }} views</p>
                                            <p>{{ entry.downloads }} downloads</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}{% endcomment %}
                        </div>
                        <div id="closedd" class="tab-pane fade">
                            {% comment %}{% for entry in closed %}
                                {% if forloop.counter <= 5 %}
                                    <div class="entry">
                                        <div class="secondary">
                                            <a href="{% url 'userrequests:detail' entry.id %}">
                                                <img src="{{ entry.file }}" width="100px" height="100px" alt="No Image Has Been Uploaded" style="color: brown; float: left; margin-right: 40px;">
                                            </a>
                                        </div>
                                        <div class="primary">
                                            <a href="{% url 'userrequests:detail' entry.id %}">
                                                <h4 class="text-left">{{ entry.title }}</h4>
                                            </a>
                                            <hr>
                                            <p>keywords: <span class="btn-info">{{ entry.keywords }}</span></p>
                                        </div>
                                        <div class="secondary">
                                            <p>Posted By: {{ entry.user }}</p>
                                            <p>On: {{ entry.deadline }}</p>
                                        </div>
                                        <div class="secondary">
                                            <p>{{ entry.views }} views</p>
                                            <p>{{ entry.downloads }} downloads</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}{% endcomment %}
                        </div>
                    </div>
                </div>
                <div id="paging">
                    <ul id="upaging" class="pagination">
                    </ul>
                </div>
            </div>

            <br>

            <div id="create">
                <p>Can't Find Anything Relevant?</p>
                <a href="{% url 'requestservice:create' %}">
                    <button type="submit" class="btn btn-lg btn-primary">
                        Create A New Request
                        <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                    </button>
                </a>
            </div>

            <br>

            {% comment %}<div id="topcontainer" class="container-fluid">
                <div id="row1" >
                    <div id="central" class="col-sm-8 col-sm-offset-2">
                        <div id="usabilities">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#open" id="opentab">Open <span id="spo" class="badge">{{ open|length }}</span></a></li>
                                <li><a data-toggle="tab" href="#closed" id="closedtab">Closed <span id="spc" class="badge">{{ closed|length }}</span></a></li>
                            </ul>
                        </div>
                        <div id="tabs" class="tab-content">
                            <div id="open" class="tab-pane fade in active">
                                {% if open|length > 0 %}
                                    <div class='table-wrapper'>
                                        <table id='opentable' class='table table-hover'>
                                            <tbody id='otbody'>
                                                {% for entry in open %}
                                                    <tr>
                                                        <td class="secondary">
                                                            <a href="{% url 'userrequests:detail' entry.id %}">
                                                                <img src="{{ entry.file }}" width="100px" height="100px" alt="No Image Has Been Uploaded" style="color: brown; float: left; margin-right: 40px;">
                                                            </a>
                                                        </td>
                                                        <td class="primary">
                                                            <a href="{% url 'userrequests:detail' entry.id %}">
                                                                <h4 class="text-left">{{ entry.title }}</h4>
                                                            </a>
                                                            <hr>
                                                            <p class="text-left">keywords: <span class="btn-info"> {{ entry.keywords }} </span></p>
                                                        </td>
                                                        <td class="secondary">
                                                            <p>Posted By: {{ entry.user }}</p>
                                                            <p>On: {{ entry.deadline }}</p>
                                                        </td>
                                                        <td class="secondary">
                                                            <p>{{ entry.views }} views</p>
                                                            <p>{{ entry.downloads }} downloads</p>
                                                        </td>
                                                    </tr>
                                                {%  endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <h4 id="opheader">No Pending Request Yet</h4>
                                {% endif %}
                            </div>
                            <div id="closed" class="tab-pane fade">
                                {% if closed|length > 0 %}
                                    <div class='table-wrapper'>
                                        <table id='closedtable' class='table table-hover'>
                                            <tbody id='ctbody'>
                                                {% for entry in closed %}
                                                    <tr>
                                                        <td class="secondary">
                                                            <a href="{% url 'userrequests:detail' entry.id %}">
                                                                <img src="{{ entry.file }}" width="100px" height="100px" alt="No Image Has Been Uploaded" style="color: brown; float: left; margin-right: 40px;">
                                                            </a>
                                                        </td>
                                                        <td class="primary">
                                                            <a href="{% url 'userrequests:detail' entry.id %}">
                                                                <h4 class="text-left">{{ entry.title }}</h4>
                                                            </a>
                                                            <hr>
                                                            <p>keywords: <span class="btn-info">{{ entry.keywords }}</span></p>
                                                        </td>
                                                        <td class="secondary">
                                                            <p>Posted By: {{ entry.user }}</p>
                                                            <p>On: {{ entry.deadline }}</p>
                                                        </td>
                                                        <td class="secondary">
                                                            <p>{{ entry.views }} views</p>
                                                            <p>{{ entry.downloads }} downloads</p>
                                                        </td>
                                                    </tr>
                                                {%  endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% elif open|length > 0 and closed|length == 0 %}
                                    <h4 id="clheader">No Request Has Been Answered Yet!</h4>
                                {% else %}
                                    <h4 id="allheader">You Have No Pending Requests</h4>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>{% endcomment %}


        <!-- Content When User Has No Requests Yet -->
        {%  else %}
            <h2>You Have Not Made A Request Yet</h2>
            <h4>Create A New Now!</h4>
            <a href="{% url 'requestservice:create' %}">
                <button type="submit" class="btn btn-lg btn-primary">
                    Create A Request
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                </button>
            </a>
        {%  endif %}
    <!-- Not Yet Logged In User -->
    {%  else %}
        <h1 id="header">User Requests</h1>
        <h5>In This Page You Can Create A Request, Review The Requests That You Have Already Made (Opened And Closed) And Also Edit Them </h5>
        <br>
        <hr>
        <br>
        <h2>In Order To Create/Review A Request You Must Log In/Sign Up</h2>
        <a href="{% url 'requestservice:login' %}">
            <button type="submit" class="btn btn-lg btn-primary">
                Login
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
            </button>
        </a>
    {% endif %}
</div>

{% endblock %}
