{% extends 'templates/base.html' %}
{% block title %}Search Results{% endblock %}

{% block body %}

<div id="container" class="container-fluid text-center">
    <!-- Displays the Search Results If Any -->
    {%  if results|length > 0 %}
        <h1>Search Results</h1>
        <form class="navbar-form" role="search" method="GET" action="{% url 'userrequests:search' %}">
            <div class="form-group  is-empty">
                <input type="text" class="form-control border-input" placeholder="Search For A Request" name="title">
            </div>
            <button type="submit" class="btn btn-default">
                Search
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </form>

        <h1>({{ results|length }}) Search Results</h1>

        <div id="results">
            {% if results|length > 0 %}
                <div class='table-wrapper'>
                    <table id='restable' class='table table-hover'>
                        <tbody id='rtbody'>
                            {% for entry in results %}
                                <tr>
                                    <td>
                                        <a href="{%  url 'requestservice:detail' entry.id %}">
                                            <img src="{{ entry.file }}" width="100px" height="100px" alt="No Image Has Been Uploaded" style="color: brown; float: left; margin-right: 40px;">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'requestservice:detail' entry.id %}">
                                            <h4 class="text-left">{{ forloop.counter }} : {{ entry.title }}</h4>
                                        </a>
                                    </td>
                                    <td>
                                        <p>{{ entry.keywords }}</p>
                                    </td>
                                    <td>
                                        <p>{{ entry.service_description }}</p>
                                    </td>
                                    <td>
                                        <p>{{ entry.service_type }}</p>
                                    </td>
                                </tr>
                            {%  endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <h4>You Have No Pending Request</h4>
            {% endif %}
        </div>

    <!-- Content When User Has No Requests Yet -->
    {%  else %}
        <h2>No Results Were Found With The Given Title</h2>
        <br>
        <h4>Be The First To Make The Request!</h4>
        <a href="{% url 'requestservice:create' %}">
            <button type="submit" class="btn btn-lg btn-primary">
                Create A Request
                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
            </button>
        </a>
    {%  endif %}

</div>

{% endblock %}
