{% extends 'templates/base.html' %}
{% block title %}Submit A Request{% endblock %}

{% block content %}
<div class="container-fluid">

    <ul class="breadcrumb">
        <li><a href="{% url 'requestservice:index' %}">Requests</a></li>
        <li><a href="#">Submit A Request</a></li>
    </ul>

    <h1 class="text-center">On Demand Data Services</h1>
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 ">
             {% if request.user.is_authenticated %}
                 {% if entry != None and request.user.username != entry.user %}
                     <div class="panel panel-default">
                        <div class="panel-body">
                            {% if error_message %}
                                <p style="color:red;"><strong>{{ error_message }}</strong></p>
                            {% endif %}
                            <h3 class="text-center">You Have No Right To Make Changes To This Request</h3>
                            <a href="{% url 'requestservice:detail' entry.id %}">
                                <div class="form-group">
                                    <div class="col-sm-offset-5">
                                        <button type="submit" class="btn btn-log-in">Back To Request</button>
                                    </div>
                                </div>
                             </a>
                        </div>
                     </div>
                 {% else %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2>Submit Your Request</h2>
                            <hr>
                            {% if error_message %}
                                <p style="color:red;"><strong>{{ error_message }}</strong></p>
                            {% endif %}
                            <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% include 'form-template.html' %}
                                <div class="form-group">
                                    <div class="col-sm-offset-5">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                        {% if entry != None %}
                                            <a href="{% url 'requestservice:detail' entry.id %}">
                                                <button class="btn btn-danger">Cancel</button>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                 {% endif %}
             {% else %}
                 <h1 class="text-center">You Must Login In  Order To Create A Request</h1>
                 <a href="{% url 'requestservice:login' %}">
                    <div class="form-group">
                        <div class="col-sm-offset-6 col-sm-10">
                            <button type="submit" class="btn btn-lg btn-log-in">Login</button>
                        </div>
                    </div>
                 </a>
            {%  endif %}
		</div>
	</div>

</div>
{% endblock %}